flows_harrysbrewpi.json
[
    {
        "id": "b209822d.9e674",
        "type": "tab",
        "label": "Bootup tasks & Globals",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c70403e1.fef6",
        "type": "tab",
        "label": "Telegram",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd1f2b7f.0d4d08",
        "type": "tab",
        "label": "PT100 Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "72bd38cd.b8a178",
        "type": "tab",
        "label": "HLT view controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "37de3d6f.58f362",
        "type": "tab",
        "label": "MLT view controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a18ecba.25f6d4",
        "type": "tab",
        "label": "BK Element view controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c2748b.984d3b8",
        "type": "tab",
        "label": "Element PID controllers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6bdc7e8.c2bbe8",
        "type": "tab",
        "label": "Element Output Controllers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "474c912b.2cb9",
        "type": "tab",
        "label": "Checklist",
        "disabled": false,
        "info": ""
    },
    {
        "id": "858aa20d.74d93",
        "type": "tab",
        "label": "Warnings and pump contollers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8dd89e26.6d141",
        "type": "tab",
        "label": "Timer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a0771295.bec48",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e61b1f1a.55954",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "db2290bc.6bd9c8",
        "type": "tab",
        "label": "GPIO test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e9f0b9c.d17dc48",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bed2c066.9e4d4",
        "type": "subflow",
        "name": "Double chirp buzzer",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "5f1ad99e.733a18"
                    },
                    {
                        "id": "2db072c7.23309e"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "b4973237.46ab6",
        "type": "subflow",
        "name": "Process Simulation",
        "info": "",
        "in": [
            {
                "x": 37,
                "y": 103,
                "wires": [
                    {
                        "id": "ec719d4d.0d54f8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 728.5,
                "y": 294,
                "wires": [
                    {
                        "id": "ae1a6e5.d4c0d9",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "3c99e478.ab352c",
        "type": "group",
        "z": "c70403e1.fef6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b9177371.4ece68",
            "ae4f77c8.74204",
            "ca9bca9a.5e9c3",
            "def72da8.aa8c6",
            "24d98b2.b6993f4"
        ],
        "x": 54,
        "y": 839,
        "w": 1112,
        "h": 149.5
    },
    {
        "id": "8999c1e2.ee75b",
        "type": "group",
        "z": "c70403e1.fef6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e5a97be2.5b8958",
            "da0bd6e0.596e88",
            "317f98f6.700b1",
            "68efbb04.cab494"
        ],
        "x": 54,
        "y": 199,
        "w": 632,
        "h": 142
    },
    {
        "id": "5d240556.262b84",
        "type": "group",
        "z": "c70403e1.fef6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f8cf3b90.295fb8",
            "beafa108.ff0d",
            "29f89bd1.4d1bd4",
            "854cf920.80e668"
        ],
        "x": 54,
        "y": 39,
        "w": 592,
        "h": 142
    },
    {
        "id": "fa9d12fd.befec8",
        "type": "group",
        "z": "c70403e1.fef6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c43dff8b.85166",
            "6d8fd408.9585fc",
            "c0ac7d62.1e39d",
            "9f1aa022.d91c28",
            "e4595fa3.a4388",
            "ca31e383.6e78c8",
            "bcf40f19.5dc808",
            "ad8cd822.dff9f8",
            "340c7452.cde394",
            "19e89484.507533"
        ],
        "x": 54,
        "y": 579,
        "w": 1512,
        "h": 229.5
    },
    {
        "id": "72b7ae42.0b82d",
        "type": "group",
        "z": "c70403e1.fef6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "65e4a33f.7768ac",
            "d3d5ceab.85a72",
            "40a24888.9072a8",
            "9711b5d7.3215d",
            "3738d33c.cb5054",
            "463077fd.6a2e7"
        ],
        "x": 54,
        "y": 379,
        "w": 892,
        "h": 182
    },
    {
        "id": "d90db005.43c49",
        "type": "group",
        "z": "c70403e1.fef6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "96a43a70.4e70d8",
            "b3ce35b8.9039d",
            "7eac2e98.f92a1",
            "c84aa19c.8a36f8",
            "2ac76708.01729",
            "fbe32cd9.51c8a8",
            "363ac57b.fbf872",
            "4cf7830a.68285c"
        ],
        "x": 54,
        "y": 1459,
        "w": 1052,
        "h": 182
    },
    {
        "id": "1fe8870c.af7949",
        "type": "group",
        "z": "b209822d.9e674",
        "name": "Start the dashboard on the HDMI output when booted up",
        "style": {
            "label": true
        },
        "nodes": [
            "2f984eaf.bf7712",
            "48bdeac7.e6d764"
        ],
        "x": 74,
        "y": 51.5
    },
    {
        "id": "a0955a5d.7bc6a",
        "type": "group",
        "z": "c70403e1.fef6",
        "name": "Answer Shut down command ________________________________",
        "style": {
            "label": true
        },
        "nodes": [
            "31bd66ed.17842a",
            "f54140e1.6a4f08",
            "394a954a.72c522",
            "c26484e4.d1d038",
            "b6ab5272.dd7888",
            "1f9ff3d8.063844",
            "de015364.e3aed8"
        ],
        "x": 54,
        "y": 1139,
        "w": 1192,
        "h": 142
    },
    {
        "id": "5cc5dd43.7d4754",
        "type": "group",
        "z": "c70403e1.fef6",
        "name": "Answer Reboot command ________________________________",
        "style": {
            "label": true
        },
        "nodes": [
            "d4f27a55.c406c",
            "d9654041.bdf358",
            "db41b550.37f718",
            "e1cb8594.2fc86",
            "31ffddb.b0b58a2",
            "677a907f.940e9",
            "1bc8a1d6.3b8d3e"
        ],
        "x": 54,
        "y": 1299,
        "w": 1152,
        "h": 142
    },
    {
        "id": "a5478298.6399d",
        "type": "group",
        "z": "b209822d.9e674",
        "name": "Tell everyone we are online",
        "style": {
            "label": true
        },
        "nodes": [
            "eee739a7.6a5b58",
            "efbf535f.199948",
            "e2316670.0a0af",
            "ab115648.2f2c6",
            "dd1f70b6.6080e"
        ],
        "x": 74,
        "y": 171.5
    },
    {
        "id": "3f74176e.8009c8",
        "type": "group",
        "z": "db2290bc.6bd9c8",
        "name": "Buzzer",
        "style": {
            "label": true
        },
        "nodes": [
            "4f4a658a.6b4aac",
            "6b95fe22.614ae",
            "2c0ddb20.797604"
        ],
        "x": 84,
        "y": 159
    },
    {
        "id": "6ec6cc41.7154c4",
        "type": "group",
        "z": "b209822d.9e674",
        "name": "Provide heatbeat",
        "style": {
            "label": true
        },
        "nodes": [
            "93f5246c.f907b8",
            "766a5f5.a3001a",
            "a97b267c.286028",
            "82be8459.c3e358"
        ],
        "x": 74,
        "y": 419
    },
    {
        "id": "e7769d56.bbbbb",
        "type": "group",
        "z": "b209822d.9e674",
        "name": "Initialise power button / switches states to off",
        "style": {
            "label": true
        },
        "nodes": [
            "ba1a96a.a480468",
            "bcb30f14.f438e",
            "c7fb6487.dee108"
        ],
        "x": 74,
        "y": 299
    },
    {
        "id": "55fc7d02.76f0a4",
        "type": "group",
        "z": "b209822d.9e674",
        "name": "Provide bootup trigger",
        "style": {
            "label": true
        },
        "nodes": [
            "abbae2aa.9a409",
            "1824b7d6.a040d8",
            "a8aeafa1.3a522"
        ],
        "x": 74,
        "y": 659
    },
    {
        "id": "f2c499c6.7e13e8",
        "type": "group",
        "z": "858aa20d.74d93",
        "name": "Pump Control",
        "style": {
            "label": true
        },
        "nodes": [
            "a36494f8.8a1388",
            "83cee9c2.159be8",
            "28a66a10.ef6846",
            "deb8f2eb.c1901",
            "b9e12ea0.45b98",
            "ac9038ad.f15a48",
            "352afbec.d94f34",
            "3172ef7b.85c0f"
        ],
        "x": 114,
        "y": 219,
        "w": 492,
        "h": 242
    },
    {
        "id": "6217408c.d82dc8",
        "type": "group",
        "z": "b6bdc7e8.c2bbe8",
        "name": "HLT Element",
        "style": {
            "label": true
        },
        "nodes": [
            "978ce145.42976",
            "7821cacc.968c44",
            "8c0e6674.9c4a98",
            "ee085d83.81d5c",
            "a566f02f.63e1c",
            "ee91dc6f.629ae",
            "dc4c2855.b1879",
            "cd4ffefe.73f4d8",
            "c30f3ed8.2aa3a8",
            "e7b1d178.e841d",
            "181a8f07.e1d921",
            "8f338b83.cfdd18",
            "b41b22b1.fd8de"
        ],
        "x": 54,
        "y": 79
    },
    {
        "id": "38735e36.113c8a",
        "type": "group",
        "z": "b6bdc7e8.c2bbe8",
        "name": "BK Element",
        "style": {
            "label": true
        },
        "nodes": [
            "2397a45.037d65c",
            "3bf642ce.0e5536",
            "18a70660.3494d2",
            "45f7b966.06ff2",
            "fd468832.b66a78",
            "38d6ec9.c82e994",
            "9fcd9170.258988",
            "9e226085.cb8d1",
            "3d31383b.1cde4",
            "59be3a6f.ee779c",
            "ac052a82.75a568",
            "220d97a3.29d778",
            "347e81f7.d003be"
        ],
        "x": 114,
        "y": 419
    },
    {
        "id": "91669a1f.42243",
        "type": "group",
        "z": "4c2748b.984d3b8",
        "name": "HLT Power output logic",
        "style": {
            "label": true
        },
        "nodes": [
            "9d19b417.2ff2c8",
            "1997fac1.880f65",
            "fd495fdd.1b2f3",
            "d7e3e564.f78cc8",
            "5f982b96.87a964",
            "aee6984a.086ea8",
            "aab5edd.fe2551",
            "e26a1504.ebf608",
            "644ec519.bba66c",
            "66294e3f.91eeb",
            "5177e5d6.87767c",
            "31c04565.8cc96a",
            "e4dea1a5.4f1ed"
        ],
        "x": 34,
        "y": 79
    },
    {
        "id": "57237429.cc77c4",
        "type": "group",
        "z": "4c2748b.984d3b8",
        "name": "BK Power output logic",
        "style": {
            "label": true
        },
        "nodes": [
            "f5073530.a91078",
            "a10dc7fe.540f68",
            "1342b373.8faa7d",
            "3268cb38.a5f80c",
            "a0adf295.bb46a8",
            "11dafbc1.f9ac7c",
            "2eccd44d.bb6f04",
            "af7c007a.b43aa",
            "a53f1e5b.1bafa8",
            "e3a23318.981f68",
            "49faea85.7cd08c",
            "7e1cfe62.ae3c9",
            "8cb296f4.3a9c88",
            "bf530c2b.23c988",
            "d93179e9.e362d8",
            "789a8afa.2996bc",
            "de91c9e1.c6d4f"
        ],
        "x": 34,
        "y": 479
    },
    {
        "id": "c0391f6c.552ff",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 14,
                "gy": 14,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ee877576.e7497",
        "type": "ui_group",
        "name": "Controls",
        "tab": "a8850437.d84aa8",
        "order": 4,
        "disp": false,
        "width": "22",
        "collapse": false
    },
    {
        "id": "a0af63cb.cfd18",
        "type": "telegrambot-config",
        "botname": "HarrysBrewBot",
        "usernames": "",
        "chatIds": "",
        "pollInterval": "1000"
    },
    {
        "id": "3f73ea82.bc62e6",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "599c9f6f.d3c42",
        "type": "ui_group",
        "name": "Charts",
        "tab": "a8850437.d84aa8",
        "order": 3,
        "disp": true,
        "width": "22",
        "collapse": true
    },
    {
        "id": "c45a83a3.d00908",
        "type": "ui_group",
        "name": "PID",
        "tab": "80cd4062.93a5",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "80cd4062.93a5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e3312206.7d39b",
        "type": "ui_group",
        "name": "HLT",
        "tab": "3f73ea82.bc62e6",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f3a21dc0.41ad4",
        "type": "ui_group",
        "name": "MLT",
        "tab": "3f73ea82.bc62e6",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58848435.b40dac",
        "type": "ui_group",
        "name": "BK",
        "tab": "3f73ea82.bc62e6",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b26a00f1.e153f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f3a21dc0.41ad4",
        "order": 2,
        "width": "6",
        "height": "1"
    },
    {
        "id": "87b9c423.b256e8",
        "type": "ui_group",
        "name": "Checklist",
        "tab": "a8850437.d84aa8",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a8850437.d84aa8",
        "type": "ui_tab",
        "name": "Testing",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b51f8f14.e5b5",
        "type": "ui_group",
        "name": "Timer",
        "tab": "a8850437.d84aa8",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "cca3095.3aed4f8",
        "type": "ui_group",
        "name": "Messages",
        "tab": "3f73ea82.bc62e6",
        "order": 4,
        "disp": false,
        "width": "20",
        "collapse": false
    },
    {
        "id": "2f984eaf.bf7712",
        "type": "exec",
        "z": "b209822d.9e674",
        "g": "1fe8870c.af7949",
        "command": "bash startChromium.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Start Chromium If It Is Not Running",
        "x": 320,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9f1aa022.d91c28",
        "type": "telegrambot-command",
        "z": "c70403e1.fef6",
        "g": "fa9d12fd.befec8",
        "name": "/open_tunnel",
        "bot": "a0af63cb.cfd18",
        "command": "\\/*open_tunnel",
        "commandType": "re",
        "commandCase": true,
        "x": 190,
        "y": 680,
        "wires": [
            [
                "6d8fd408.9585fc"
            ]
        ]
    },
    {
        "id": "f8cf3b90.295fb8",
        "type": "telegrambot-command",
        "z": "c70403e1.fef6",
        "g": "5d240556.262b84",
        "name": "/help",
        "bot": "a0af63cb.cfd18",
        "command": "\\/*help",
        "commandType": "re",
        "commandCase": false,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "854cf920.80e668"
            ]
        ]
    },
    {
        "id": "beafa108.ff0d",
        "type": "telegrambot-notify",
        "z": "c70403e1.fef6",
        "g": "5d240556.262b84",
        "name": "Tell User what bot can do",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "bcf40f19.5dc808",
        "type": "debug",
        "z": "c70403e1.fef6",
        "g": "fa9d12fd.befec8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 700,
        "wires": []
    },
    {
        "id": "29f89bd1.4d1bd4",
        "type": "comment",
        "z": "c70403e1.fef6",
        "g": "5d240556.262b84",
        "name": "Answer Help command ________________________________",
        "info": "",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "e5a97be2.5b8958",
        "type": "comment",
        "z": "c70403e1.fef6",
        "g": "8999c1e2.ee75b",
        "name": "Answer Start command ________________________________",
        "info": "",
        "x": 300,
        "y": 240,
        "wires": []
    },
    {
        "id": "da0bd6e0.596e88",
        "type": "telegrambot-notify",
        "z": "c70403e1.fef6",
        "g": "8999c1e2.ee75b",
        "name": "Tell User what bot can do",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "317f98f6.700b1",
        "type": "telegrambot-command",
        "z": "c70403e1.fef6",
        "g": "8999c1e2.ee75b",
        "name": "/start",
        "bot": "a0af63cb.cfd18",
        "command": "\\/*start",
        "commandType": "re",
        "commandCase": false,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "68efbb04.cab494"
            ]
        ]
    },
    {
        "id": "68efbb04.cab494",
        "type": "template",
        "z": "c70403e1.fef6",
        "g": "8999c1e2.ee75b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Hey! Im Harrys brew bot! I can help you by running commands when you are away from home. I can also give you updates on how things are going.\n\nHave fun! 👍\n\nAsk for /help to see what I can do.",
        "output": "str",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "da0bd6e0.596e88"
            ]
        ]
    },
    {
        "id": "854cf920.80e668",
        "type": "template",
        "z": "c70403e1.fef6",
        "g": "5d240556.262b84",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "/start - Start conversation with me\n/help - Ask me what I can do\n/warm_up - Ill warm up the water for you while you’re away\n/stop - Emergency stop. will stop all outputs to pumps and heaters\n/open_tunnel - Start ssh tunnel for remote access to node red when away from the home\n/close_all_tunnels - Stop all tunnel connections\n/shut_down - Shut me down so you can properly remove power\n/reboot - Reboot me if something isnt working right",
        "output": "str",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "beafa108.ff0d"
            ]
        ]
    },
    {
        "id": "19e89484.507533",
        "type": "comment",
        "z": "c70403e1.fef6",
        "g": "fa9d12fd.befec8",
        "name": "Answer Open Tunnel command ________________________________",
        "info": "",
        "x": 320,
        "y": 620,
        "wires": []
    },
    {
        "id": "6d8fd408.9585fc",
        "type": "function",
        "z": "c70403e1.fef6",
        "g": "fa9d12fd.befec8",
        "name": "Check if msg has parameters",
        "func": "var requestParameters = null;\nvar parametersExist = null;\n\n// split the msg parts\nvar msgParts = msg.payload.split(\" \");\n\n// check how many parts there are\nif (msgParts.length > 1) {\n    // there is more than one. Send the first one it found\n    parametersExist = {payload: msgParts[1], telegram: msg.telegram};\n} else {\n    // there was no parameter\n    // Ask user for more information\n    requestParameters = {payload: true, telegram: msg.telegram};\n}\n\nreturn [requestParameters, parametersExist]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "e4595fa3.a4388"
            ],
            [
                "c43dff8b.85166"
            ]
        ]
    },
    {
        "id": "e4595fa3.a4388",
        "type": "template",
        "z": "c70403e1.fef6",
        "g": "fa9d12fd.befec8",
        "name": "No parameters",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "What IP should I connect to? Please tell me by running the command again, with the IP as the next word\neg: /open_tunnel 1.2.3.4",
        "output": "str",
        "x": 700,
        "y": 680,
        "wires": [
            [
                "ad8cd822.dff9f8"
            ]
        ]
    },
    {
        "id": "ad8cd822.dff9f8",
        "type": "telegrambot-notify",
        "z": "c70403e1.fef6",
        "g": "fa9d12fd.befec8",
        "name": "Ask the user to provide an IP address",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 990,
        "y": 680,
        "wires": []
    },
    {
        "id": "c43dff8b.85166",
        "type": "function",
        "z": "c70403e1.fef6",
        "g": "fa9d12fd.befec8",
        "name": "Create tunnel command",
        "func": "var ip = msg.payload\n\nif (!(/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ip))) {\n    // thats not a valid IP\n    return;\n}\n\nmsg.destinationIp = ip;\n// msg.payload = \"bash startTunnel.sh\";\nmsg.payload = \"ssh -f -N -T -o StrictHostKeyChecking=no -i ~/.ssh/harrys-brew-bot-aws-key.pem -R 18800:localhost:1880 ec2-user@\" + ip\n// msg.payload = \"ssh -N -T -o StrictHostKeyChecking=no -i ~/.ssh/harrys-brew-bot-aws-key.pem -R 18800:localhost:1880 ec2-user@\" + ip\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 760,
        "wires": [
            [
                "c0ac7d62.1e39d"
            ]
        ]
    },
    {
        "id": "c0ac7d62.1e39d",
        "type": "exec",
        "z": "c70403e1.fef6",
        "g": "fa9d12fd.befec8",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "10",
        "oldrc": false,
        "name": "Start SSH",
        "x": 960,
        "y": 760,
        "wires": [
            [
                "ca31e383.6e78c8",
                "bcf40f19.5dc808"
            ],
            [
                "bcf40f19.5dc808",
                "ca31e383.6e78c8"
            ],
            [
                "bcf40f19.5dc808",
                "ca31e383.6e78c8"
            ]
        ]
    },
    {
        "id": "b9177371.4ece68",
        "type": "exec",
        "z": "c70403e1.fef6",
        "g": "3c99e478.ab352c",
        "command": "ps -lef|grep ssh|awk '{print $4}'|xargs kill",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Kill SSH",
        "x": 460,
        "y": 940,
        "wires": [
            [
                "ca9bca9a.5e9c3"
            ],
            [],
            []
        ]
    },
    {
        "id": "ca31e383.6e78c8",
        "type": "function",
        "z": "c70403e1.fef6",
        "g": "fa9d12fd.befec8",
        "name": "Set feedback message",
        "func": "var feedback = \"\";\n\nif(msg.payload && msg.payload.code && msg.payload.code == 0) {\n    feedback = \"SSH tunnel is ready for use. Run \\r\\n\" + \"ssh -i harrys-brew-bot-aws-key.pem -T -N -L 18801:localhost:18800 -v ec2-user@\" + msg.destinationIp + \"\\r\\nTo connect.\"\n} else if(msg.payload && msg.payload.signal && msg.payload.signal == \"SIGTERM\") {\n    feedback = \"Something went wrong. possibly a timeout. Is the IP address correct?\"\n} else {\n    feedback = msg.payload;\n}\n\nmsg.payload = \"SSH tunnel attempted. Details: \\r\\n\" + feedback\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1180,
        "y": 760,
        "wires": [
            [
                "340c7452.cde394",
                "bcf40f19.5dc808"
            ]
        ]
    },
    {
        "id": "ca9bca9a.5e9c3",
        "type": "function",
        "z": "c70403e1.fef6",
        "g": "3c99e478.ab352c",
        "name": "Set feedback message",
        "func": "msg.payload = \"The SSH connections have been terminated. Details: \" + msg.rc.message\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 940,
        "wires": [
            [
                "def72da8.aa8c6"
            ]
        ]
    },
    {
        "id": "340c7452.cde394",
        "type": "telegrambot-notify",
        "z": "c70403e1.fef6",
        "g": "fa9d12fd.befec8",
        "name": "Tell user tunnel is ready",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1430,
        "y": 760,
        "wires": []
    },
    {
        "id": "24d98b2.b6993f4",
        "type": "comment",
        "z": "c70403e1.fef6",
        "g": "3c99e478.ab352c",
        "name": "Answer Close all tunnels command ________________________________",
        "info": "",
        "x": 330,
        "y": 880,
        "wires": []
    },
    {
        "id": "ae4f77c8.74204",
        "type": "telegrambot-command",
        "z": "c70403e1.fef6",
        "g": "3c99e478.ab352c",
        "name": "/close_all_tunnels",
        "bot": "a0af63cb.cfd18",
        "command": "\\/*close_all_tunnels",
        "commandType": "re",
        "commandCase": false,
        "x": 210,
        "y": 940,
        "wires": [
            [
                "b9177371.4ece68"
            ]
        ]
    },
    {
        "id": "def72da8.aa8c6",
        "type": "telegrambot-notify",
        "z": "c70403e1.fef6",
        "g": "3c99e478.ab352c",
        "name": "Tell user tunnels are closed",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1020,
        "y": 940,
        "wires": []
    },
    {
        "id": "65e4a33f.7768ac",
        "type": "comment",
        "z": "c70403e1.fef6",
        "g": "72b7ae42.0b82d",
        "name": "Answer Stop command ________________________________",
        "info": "",
        "x": 300,
        "y": 420,
        "wires": []
    },
    {
        "id": "d3d5ceab.85a72",
        "type": "telegrambot-notify",
        "z": "c70403e1.fef6",
        "g": "72b7ae42.0b82d",
        "name": "Tell user we have stopped output",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "40a24888.9072a8",
        "type": "telegrambot-command",
        "z": "c70403e1.fef6",
        "g": "72b7ae42.0b82d",
        "name": "/stop",
        "bot": "a0af63cb.cfd18",
        "command": "\\/*stop",
        "commandType": "re",
        "commandCase": false,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "9711b5d7.3215d",
                "3738d33c.cb5054"
            ]
        ]
    },
    {
        "id": "9711b5d7.3215d",
        "type": "template",
        "z": "c70403e1.fef6",
        "g": "72b7ae42.0b82d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Outputs have been stopped. 🛑\n\nTo reset the outputs, do it at the brew dashboard.\n\nHope everything is ok!",
        "output": "str",
        "x": 320,
        "y": 480,
        "wires": [
            [
                "d3d5ceab.85a72"
            ]
        ]
    },
    {
        "id": "3738d33c.cb5054",
        "type": "link out",
        "z": "c70403e1.fef6",
        "g": "72b7ae42.0b82d",
        "name": "Emergency stop - Disable outputs",
        "links": [
            "ae81e16d.31639"
        ],
        "x": 380,
        "y": 520,
        "wires": [],
        "l": true
    },
    {
        "id": "96a43a70.4e70d8",
        "type": "comment",
        "z": "c70403e1.fef6",
        "g": "d90db005.43c49",
        "name": "Answer Warm up command ________________________________",
        "info": "",
        "x": 310,
        "y": 1500,
        "wires": []
    },
    {
        "id": "b3ce35b8.9039d",
        "type": "telegrambot-notify",
        "z": "c70403e1.fef6",
        "g": "d90db005.43c49",
        "name": "Tell user we have stopped output",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 560,
        "y": 1600,
        "wires": []
    },
    {
        "id": "7eac2e98.f92a1",
        "type": "telegrambot-command",
        "z": "c70403e1.fef6",
        "g": "d90db005.43c49",
        "name": "/warm_up",
        "bot": "a0af63cb.cfd18",
        "command": "\\/*warm_up",
        "commandType": "re",
        "commandCase": false,
        "x": 160,
        "y": 1600,
        "wires": [
            [
                "c84aa19c.8a36f8"
            ]
        ]
    },
    {
        "id": "c84aa19c.8a36f8",
        "type": "template",
        "z": "c70403e1.fef6",
        "g": "d90db005.43c49",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "No worries. Im warming the water up for you now. 👍\n\nIf you want an update on the tempurature, just ask for a /water_temperature_status",
        "output": "str",
        "x": 320,
        "y": 1600,
        "wires": [
            [
                "b3ce35b8.9039d",
                "363ac57b.fbf872"
            ]
        ]
    },
    {
        "id": "2ac76708.01729",
        "type": "comment",
        "z": "c70403e1.fef6",
        "g": "d90db005.43c49",
        "name": "TO DO: Actually start the warm program",
        "info": "",
        "x": 920,
        "y": 1500,
        "wires": []
    },
    {
        "id": "31bd66ed.17842a",
        "type": "telegrambot-notify",
        "z": "c70403e1.fef6",
        "g": "a0955a5d.7bc6a",
        "name": "Tell user we are shutting down",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1090,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f54140e1.6a4f08",
        "type": "telegrambot-command",
        "z": "c70403e1.fef6",
        "g": "a0955a5d.7bc6a",
        "name": "/shut_down",
        "bot": "a0af63cb.cfd18",
        "command": "\\/*shut_down",
        "commandType": "re",
        "commandCase": false,
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "b6ab5272.dd7888"
            ]
        ]
    },
    {
        "id": "394a954a.72c522",
        "type": "template",
        "z": "c70403e1.fef6",
        "g": "a0955a5d.7bc6a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Bye bye! Shutting the Pi down now.\n\nPower it back up if you want me to be able to talk again!",
        "output": "str",
        "x": 860,
        "y": 1180,
        "wires": [
            [
                "31bd66ed.17842a"
            ]
        ]
    },
    {
        "id": "463077fd.6a2e7",
        "type": "comment",
        "z": "c70403e1.fef6",
        "g": "72b7ae42.0b82d",
        "name": "TO DO: Actually enable the emergency stop",
        "info": "",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "c26484e4.d1d038",
        "type": "delay",
        "z": "c70403e1.fef6",
        "g": "a0955a5d.7bc6a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 1240,
        "wires": [
            [
                "de015364.e3aed8"
            ]
        ]
    },
    {
        "id": "b6ab5272.dd7888",
        "type": "telegrambot-switch",
        "z": "c70403e1.fef6",
        "g": "a0955a5d.7bc6a",
        "name": "Confirm shutdown",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "question": "Are you sure you want to shut the Pi down?",
        "answers": [
            "Yes",
            "Cancel - dont shut down"
        ],
        "outputs": 3,
        "autoAnswerCallback": true,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 350,
        "y": 1200,
        "wires": [
            [
                "1f9ff3d8.063844"
            ],
            [],
            []
        ]
    },
    {
        "id": "1f9ff3d8.063844",
        "type": "telegrambot-switch",
        "z": "c70403e1.fef6",
        "g": "a0955a5d.7bc6a",
        "name": "Double Confirm shutdown",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "question": "Are you really really sure you want to shut the Pi down?",
        "answers": [
            "Yes Im really sure!! Shut down",
            "Cancel - dont shut down"
        ],
        "outputs": 3,
        "autoAnswerCallback": true,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 600,
        "y": 1200,
        "wires": [
            [
                "394a954a.72c522",
                "c26484e4.d1d038"
            ],
            [],
            []
        ]
    },
    {
        "id": "de015364.e3aed8",
        "type": "shutdown",
        "z": "c70403e1.fef6",
        "g": "a0955a5d.7bc6a",
        "name": "",
        "x": 1070,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d4f27a55.c406c",
        "type": "telegrambot-notify",
        "z": "c70403e1.fef6",
        "g": "5cc5dd43.7d4754",
        "name": "Tell user we are rebooting",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1070,
        "y": 1340,
        "wires": []
    },
    {
        "id": "d9654041.bdf358",
        "type": "telegrambot-command",
        "z": "c70403e1.fef6",
        "g": "5cc5dd43.7d4754",
        "name": "/reboot",
        "bot": "a0af63cb.cfd18",
        "command": "\\/*reboot",
        "commandType": "re",
        "commandCase": false,
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "31ffddb.b0b58a2"
            ]
        ]
    },
    {
        "id": "db41b550.37f718",
        "type": "template",
        "z": "c70403e1.fef6",
        "g": "5cc5dd43.7d4754",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Bye bye! Rebooting the Pi now.\n\nI should be back in a few minutes!",
        "output": "str",
        "x": 860,
        "y": 1340,
        "wires": [
            [
                "d4f27a55.c406c"
            ]
        ]
    },
    {
        "id": "e1cb8594.2fc86",
        "type": "delay",
        "z": "c70403e1.fef6",
        "g": "5cc5dd43.7d4754",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 1400,
        "wires": [
            [
                "1bc8a1d6.3b8d3e"
            ]
        ]
    },
    {
        "id": "31ffddb.b0b58a2",
        "type": "telegrambot-switch",
        "z": "c70403e1.fef6",
        "g": "5cc5dd43.7d4754",
        "name": "Confirm reboot",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "question": "Are you sure you want to reboot the Pi?",
        "answers": [
            "Yes",
            "Cancel - dont reboot"
        ],
        "outputs": 3,
        "autoAnswerCallback": true,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 340,
        "y": 1360,
        "wires": [
            [
                "677a907f.940e9"
            ],
            [],
            []
        ]
    },
    {
        "id": "677a907f.940e9",
        "type": "telegrambot-switch",
        "z": "c70403e1.fef6",
        "g": "5cc5dd43.7d4754",
        "name": "Double Confirm reboot",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "question": "Are you really really sure you want to reboot the Pi?",
        "answers": [
            "Yes Im really sure!! Reboot",
            "Cancel - dont reboot"
        ],
        "outputs": 3,
        "autoAnswerCallback": true,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 580,
        "y": 1360,
        "wires": [
            [
                "db41b550.37f718",
                "e1cb8594.2fc86"
            ],
            [],
            []
        ]
    },
    {
        "id": "1bc8a1d6.3b8d3e",
        "type": "restart",
        "z": "c70403e1.fef6",
        "g": "5cc5dd43.7d4754",
        "name": "",
        "x": 1040,
        "y": 1400,
        "wires": []
    },
    {
        "id": "eee739a7.6a5b58",
        "type": "telegrambot-notify",
        "z": "b209822d.9e674",
        "g": "a5478298.6399d",
        "name": "Tell User we are online",
        "bot": "a0af63cb.cfd18",
        "chatId": "-486488441",
        "message": "",
        "parseMode": "",
        "x": 920,
        "y": 220,
        "wires": []
    },
    {
        "id": "efbf535f.199948",
        "type": "exec",
        "z": "b209822d.9e674",
        "g": "a5478298.6399d",
        "command": "hostname -I",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Get the IP address",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "ab115648.2f2c6"
            ],
            [],
            []
        ]
    },
    {
        "id": "e2316670.0a0af",
        "type": "template",
        "z": "b209822d.9e674",
        "g": "a5478298.6399d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hi! Im back online now.\n\nYou can find me at either of these addresses (you need to be on the same wifi as me):\nhttp://harrysbrewpi.local:1880/\nhttp://{{payload}}:1880/\n\nDashboard:\nhttp://harrysbrewpi.local:1880/ui\nhttp://{{payload}}:1880/ui\n\nFeel free to ask for /help",
        "output": "str",
        "x": 720,
        "y": 220,
        "wires": [
            [
                "eee739a7.6a5b58"
            ]
        ]
    },
    {
        "id": "ab115648.2f2c6",
        "type": "function",
        "z": "b209822d.9e674",
        "g": "a5478298.6399d",
        "name": "Remove line break",
        "func": "msg.payload = msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "e2316670.0a0af"
            ]
        ]
    },
    {
        "id": "731e9eaf.6c074",
        "type": "exec",
        "z": "fd1f2b7f.0d4d08",
        "command": "python ~/NodeRed-BrewConfig/max31865.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "eb826530.6339a8"
            ],
            [],
            []
        ]
    },
    {
        "id": "eb826530.6339a8",
        "type": "json",
        "z": "fd1f2b7f.0d4d08",
        "name": "Convert to object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 140,
        "wires": [
            [
                "791d02be.92a92c",
                "13480df3.98e9b2",
                "22cc66b9.6fa50a"
            ]
        ]
    },
    {
        "id": "791d02be.92a92c",
        "type": "function",
        "z": "fd1f2b7f.0d4d08",
        "name": "Get HLT Temp value",
        "func": "msg.payload = msg.payload.hlt\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 80,
        "wires": [
            [
                "3eb5719d.0216de"
            ]
        ]
    },
    {
        "id": "5f1ad99e.733a18",
        "type": "delay",
        "z": "bed2c066.9e4d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "af1445cd.189e48",
                "f0af4c6.8990cb"
            ]
        ]
    },
    {
        "id": "af1445cd.189e48",
        "type": "change",
        "z": "bed2c066.9e4d4",
        "name": "Buzz off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 80,
        "wires": [
            [
                "2d11f118.ffc45e"
            ]
        ]
    },
    {
        "id": "f0af4c6.8990cb",
        "type": "delay",
        "z": "bed2c066.9e4d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "de934177.ceffe",
                "77eba34d.6d105c"
            ]
        ]
    },
    {
        "id": "de934177.ceffe",
        "type": "change",
        "z": "bed2c066.9e4d4",
        "name": "Buzz on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "2d11f118.ffc45e"
            ]
        ]
    },
    {
        "id": "77eba34d.6d105c",
        "type": "delay",
        "z": "bed2c066.9e4d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "459b93da.80aeec"
            ]
        ]
    },
    {
        "id": "459b93da.80aeec",
        "type": "change",
        "z": "bed2c066.9e4d4",
        "name": "Buzz off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 160,
        "wires": [
            [
                "2d11f118.ffc45e"
            ]
        ]
    },
    {
        "id": "2d11f118.ffc45e",
        "type": "rpi-gpio out",
        "z": "bed2c066.9e4d4",
        "name": "Buzzer",
        "pin": "38",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 870,
        "y": 40,
        "wires": []
    },
    {
        "id": "2db072c7.23309e",
        "type": "change",
        "z": "bed2c066.9e4d4",
        "name": "Buzz on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 40,
        "wires": [
            [
                "2d11f118.ffc45e"
            ]
        ]
    },
    {
        "id": "4f4a658a.6b4aac",
        "type": "subflow:bed2c066.9e4d4",
        "z": "db2290bc.6bd9c8",
        "g": "3f74176e.8009c8",
        "name": "",
        "env": [],
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "6b95fe22.614ae",
        "type": "inject",
        "z": "db2290bc.6bd9c8",
        "g": "3f74176e.8009c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "4f4a658a.6b4aac"
            ]
        ]
    },
    {
        "id": "2c0ddb20.797604",
        "type": "ui_button",
        "z": "db2290bc.6bd9c8",
        "g": "3f74176e.8009c8",
        "name": "",
        "group": "ee877576.e7497",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activate Buzzer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "4f4a658a.6b4aac"
            ]
        ]
    },
    {
        "id": "7fe4b5c3.32e58c",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "30 sec RC + 20",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 626.5,
        "y": 207,
        "wires": [
            [
                "ae1a6e5.d4c0d9"
            ]
        ]
    },
    {
        "id": "1bacd004.9753c",
        "type": "inject",
        "z": "b4973237.46ab6",
        "name": "Inject -0.2 at start",
        "props": [
            {
                "p": "payload",
                "v": "-0.2",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "-0.2",
        "payloadType": "num",
        "x": 134.5,
        "y": 30,
        "wires": [
            [
                "ec719d4d.0d54f8"
            ]
        ]
    },
    {
        "id": "999a52c2.f465f",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "10 sec RC",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 451,
        "y": 207,
        "wires": [
            [
                "7fe4b5c3.32e58c"
            ]
        ]
    },
    {
        "id": "ec719d4d.0d54f8",
        "type": "delay",
        "z": "b4973237.46ab6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 268,
        "y": 104,
        "wires": [
            [
                "ede39236.1961f8"
            ]
        ]
    },
    {
        "id": "a823c9cf.2a6178",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "2 msg transport delay",
        "func": "// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 258,
        "y": 208,
        "wires": [
            [
                "999a52c2.f465f"
            ]
        ]
    },
    {
        "id": "ae1a6e5.d4c0d9",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "Clear all except payload",
        "func": "msg2 = {payload: msg.payload};\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "x": 545,
        "y": 293,
        "wires": [
            []
        ]
    },
    {
        "id": "ede39236.1961f8",
        "type": "range",
        "z": "b4973237.46ab6",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "name": "",
        "x": 87,
        "y": 208,
        "wires": [
            [
                "a823c9cf.2a6178"
            ]
        ]
    },
    {
        "id": "f70949c8.aab988",
        "type": "change",
        "z": "a0771295.bec48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "op",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 629.5,
        "y": 315,
        "wires": [
            [
                "9f58a52d.076dd"
            ]
        ]
    },
    {
        "id": "2792f805.066c78",
        "type": "inject",
        "z": "a0771295.bec48",
        "name": "Setpoint 30",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "setpoint",
        "payload": "30",
        "payloadType": "num",
        "x": 132,
        "y": 263,
        "wires": [
            [
                "e0cb2a8c.4402a8"
            ]
        ]
    },
    {
        "id": "1bf3ce16.c3ae02",
        "type": "inject",
        "z": "a0771295.bec48",
        "name": "Setpoint 80",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "setpoint",
        "payload": "80",
        "payloadType": "num",
        "x": 130.5,
        "y": 312,
        "wires": [
            [
                "e0cb2a8c.4402a8"
            ]
        ]
    },
    {
        "id": "f69bbf05.bdd49",
        "type": "inject",
        "z": "a0771295.bec48",
        "name": "enable",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "enable",
        "payload": "true",
        "payloadType": "bool",
        "x": 123,
        "y": 148,
        "wires": [
            [
                "e0cb2a8c.4402a8"
            ]
        ]
    },
    {
        "id": "143523b2.2f165c",
        "type": "inject",
        "z": "a0771295.bec48",
        "name": "disable",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "enable",
        "payload": "false",
        "payloadType": "bool",
        "x": 123.5,
        "y": 198,
        "wires": [
            [
                "e0cb2a8c.4402a8"
            ]
        ]
    },
    {
        "id": "5ec4239b.34e174",
        "type": "subflow:b4973237.46ab6",
        "z": "a0771295.bec48",
        "name": "",
        "env": [],
        "x": 393,
        "y": 167,
        "wires": [
            [
                "de738fc5.75e4c8",
                "e0cb2a8c.4402a8"
            ]
        ]
    },
    {
        "id": "de738fc5.75e4c8",
        "type": "change",
        "z": "a0771295.bec48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pv",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 614,
        "y": 166,
        "wires": [
            [
                "9f58a52d.076dd"
            ]
        ]
    },
    {
        "id": "e94f888a.130a88",
        "type": "range",
        "z": "a0771295.bec48",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "25",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Scale power",
        "x": 455,
        "y": 315,
        "wires": [
            [
                "f70949c8.aab988"
            ]
        ]
    },
    {
        "id": "9f58a52d.076dd",
        "type": "ui_chart",
        "z": "a0771295.bec48",
        "name": "",
        "group": "599c9f6f.d3c42",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#cf0005",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 819,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "bef0a1f8.2e2cf",
        "type": "inject",
        "z": "a0771295.bec48",
        "name": "Clear chart on deploy",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"data\":[]}",
        "payloadType": "json",
        "x": 380,
        "y": 383,
        "wires": [
            [
                "9079ffaf.4a096"
            ]
        ]
    },
    {
        "id": "9079ffaf.4a096",
        "type": "change",
        "z": "a0771295.bec48",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 616,
        "y": 383,
        "wires": [
            [
                "9f58a52d.076dd"
            ]
        ]
    },
    {
        "id": "978ce145.42976",
        "type": "rpi-gpio out",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "HLT Element out",
        "pin": "37",
        "set": false,
        "level": "0",
        "freq": "0.5",
        "out": "pwm",
        "x": 1310,
        "y": 200,
        "wires": []
    },
    {
        "id": "7821cacc.968c44",
        "type": "link in",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "HLT Element Power %",
        "links": [
            "9d19b417.2ff2c8"
        ],
        "x": 180,
        "y": 200,
        "wires": [
            [
                "dc4c2855.b1879"
            ]
        ],
        "l": true
    },
    {
        "id": "8c0e6674.9c4a98",
        "type": "link out",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "HLT Element output power %",
        "links": [
            "e4d7502c.87c4"
        ],
        "x": 1650,
        "y": 260,
        "wires": [],
        "l": true
    },
    {
        "id": "d10d7337.68526",
        "type": "link in",
        "z": "fd1f2b7f.0d4d08",
        "name": "Heatbeat ticker",
        "links": [
            "d583a0c6.8c20b",
            "766a5f5.a3001a"
        ],
        "x": 160,
        "y": 140,
        "wires": [
            [
                "731e9eaf.6c074"
            ]
        ],
        "l": true
    },
    {
        "id": "ee085d83.81d5c",
        "type": "change",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "Set HLT Power Output",
        "rules": [
            {
                "t": "set",
                "p": "HLTPowerOutput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 200,
        "wires": [
            [
                "978ce145.42976"
            ]
        ]
    },
    {
        "id": "a566f02f.63e1c",
        "type": "link in",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "Heatbeat ticker 1s",
        "links": [
            "d583a0c6.8c20b",
            "766a5f5.a3001a"
        ],
        "x": 790,
        "y": 260,
        "wires": [
            [
                "ee91dc6f.629ae"
            ]
        ],
        "l": true
    },
    {
        "id": "ee91dc6f.629ae",
        "type": "change",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "Get HLT Power Output",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "HLTPowerOutput",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "b41b22b1.fd8de"
            ]
        ]
    },
    {
        "id": "9d19b417.2ff2c8",
        "type": "link out",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "HLT Element Power %",
        "links": [
            "7821cacc.968c44"
        ],
        "x": 860,
        "y": 120,
        "wires": [],
        "l": true
    },
    {
        "id": "1997fac1.880f65",
        "type": "range",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "9d19b417.2ff2c8"
            ]
        ]
    },
    {
        "id": "fb4d5c6f.c5572",
        "type": "link out",
        "z": "fd1f2b7f.0d4d08",
        "name": "HLT Temperature",
        "links": [
            "fd495fdd.1b2f3",
            "11d53e33.30f432",
            "d209a449.0ceb98"
        ],
        "x": 2110,
        "y": 80,
        "wires": [],
        "l": true
    },
    {
        "id": "fd495fdd.1b2f3",
        "type": "link in",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "HLT Temerature",
        "links": [
            "fb4d5c6f.c5572"
        ],
        "x": 160,
        "y": 120,
        "wires": [
            [
                "e4dea1a5.4f1ed"
            ]
        ],
        "l": true
    },
    {
        "id": "d7e3e564.f78cc8",
        "type": "link in",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "HLT Target Temperature",
        "links": [
            "562f39c5.a3f158",
            "ed8921b.65038e",
            "ad114e31.7ae09"
        ],
        "x": 180,
        "y": 220,
        "wires": [
            [
                "5f982b96.87a964",
                "aab5edd.fe2551"
            ]
        ],
        "l": true
    },
    {
        "id": "5f982b96.87a964",
        "type": "change",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setpoint",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "e4dea1a5.4f1ed"
            ]
        ]
    },
    {
        "id": "aee6984a.086ea8",
        "type": "link out",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "HLT Target temp reading",
        "links": [
            "86c6a6c3.5010d8"
        ],
        "x": 730,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "bc4ccc21.8018",
        "type": "ui_slider",
        "z": "72bd38cd.b8a178",
        "name": "HLT Target temp Slider",
        "label": "Target temp",
        "tooltip": "",
        "group": "e3312206.7d39b",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "40",
        "max": "105",
        "step": 1,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "ed8921b.65038e"
            ]
        ]
    },
    {
        "id": "ed8921b.65038e",
        "type": "link out",
        "z": "72bd38cd.b8a178",
        "name": "HLT Target Temp Slider output",
        "links": [
            "d7e3e564.f78cc8",
            "d92574a.2c41d08"
        ],
        "x": 750,
        "y": 140,
        "wires": [],
        "l": true
    },
    {
        "id": "1292ea0e.c00c36",
        "type": "ui_chart",
        "z": "72bd38cd.b8a178",
        "name": "",
        "group": "e3312206.7d39b",
        "order": 6,
        "width": "6",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "80",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#f20d3b",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 510,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9d211dd6.1df4e",
        "type": "ui_template",
        "z": "72bd38cd.b8a178",
        "group": "e3312206.7d39b",
        "name": "HLT Temperature",
        "order": 3,
        "width": "5",
        "height": "3",
        "format": "<div style=\"text-align: center;\">\n    <span style=\"font-size: 80px;\" ng-bind-html=\"msg.payload\"></span>\n    <span style=\"font-size: 25px; vertical-align: top;\">°C</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 370,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2937443d.753a5c",
        "type": "ui_template",
        "z": "72bd38cd.b8a178",
        "group": "e3312206.7d39b",
        "name": "HLT Title",
        "order": 1,
        "width": "4",
        "height": "1",
        "format": "<h1 class=\"vessel-title\">HLT</h1>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 340,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3c029bdb.3ffab4",
        "type": "ui_level",
        "z": "72bd38cd.b8a178",
        "group": "e3312206.7d39b",
        "order": 4,
        "width": "1",
        "height": "3",
        "name": "HLT Element power level",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "e4d7502c.87c4",
        "type": "link in",
        "z": "72bd38cd.b8a178",
        "name": "HLT Element output power %",
        "links": [
            "8c0e6674.9c4a98",
            "6aa64bcb.dfc7c4"
        ],
        "x": 555,
        "y": 200,
        "wires": [
            [
                "3c029bdb.3ffab4"
            ]
        ]
    },
    {
        "id": "d209a449.0ceb98",
        "type": "link in",
        "z": "72bd38cd.b8a178",
        "name": "HLT Temerature",
        "links": [
            "fb4d5c6f.c5572"
        ],
        "x": 100,
        "y": 220,
        "wires": [
            [
                "9d211dd6.1df4e",
                "82d52916.ebec88"
            ]
        ],
        "l": true
    },
    {
        "id": "82d52916.ebec88",
        "type": "change",
        "z": "72bd38cd.b8a178",
        "name": "Set chart legend for Temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "1292ea0e.c00c36"
            ]
        ]
    },
    {
        "id": "aab5edd.fe2551",
        "type": "change",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "Set HLT Target Temperature",
        "rules": [
            {
                "t": "set",
                "p": "HLTTargetTemperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e26a1504.ebf608",
        "type": "link in",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "Heatbeat ticker 1s",
        "links": [
            "d583a0c6.8c20b",
            "766a5f5.a3001a"
        ],
        "x": 150,
        "y": 340,
        "wires": [
            [
                "644ec519.bba66c"
            ]
        ],
        "l": true
    },
    {
        "id": "644ec519.bba66c",
        "type": "change",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "Get HLT Target Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "HLTTargetTemperature",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "aee6984a.086ea8"
            ]
        ]
    },
    {
        "id": "86c6a6c3.5010d8",
        "type": "link in",
        "z": "72bd38cd.b8a178",
        "name": "HLT Target temp reading",
        "links": [
            "aee6984a.086ea8",
            "403cb5e3.dd6b6c"
        ],
        "x": 150,
        "y": 360,
        "wires": [
            [
                "8383aeea.56e0a"
            ]
        ],
        "l": true
    },
    {
        "id": "8383aeea.56e0a",
        "type": "change",
        "z": "72bd38cd.b8a178",
        "name": "Set chart legend for Temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "target",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "1292ea0e.c00c36"
            ]
        ]
    },
    {
        "id": "66294e3f.91eeb",
        "type": "change",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "Get HLT Target Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "HLTTargetTemperature",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 420,
        "wires": [
            [
                "5177e5d6.87767c"
            ]
        ]
    },
    {
        "id": "5177e5d6.87767c",
        "type": "link out",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "HLT Target temp reading inital",
        "links": [
            "7d1ab39f.6aa9fc",
            "cf8d7594.11c1d8"
        ],
        "x": 750,
        "y": 420,
        "wires": [],
        "l": true
    },
    {
        "id": "31c04565.8cc96a",
        "type": "inject",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "On refresh",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "66294e3f.91eeb"
            ]
        ]
    },
    {
        "id": "7d1ab39f.6aa9fc",
        "type": "link in",
        "z": "72bd38cd.b8a178",
        "name": "HLT Target temp reading",
        "links": [
            "5177e5d6.87767c",
            "f24d2b3c.c6c1e"
        ],
        "x": 230,
        "y": 140,
        "wires": [
            [
                "bc4ccc21.8018"
            ]
        ],
        "l": true
    },
    {
        "id": "3106d557.96402a",
        "type": "ui_template",
        "z": "37de3d6f.58f362",
        "group": "f3a21dc0.41ad4",
        "name": "MLT Title",
        "order": 1,
        "width": "4",
        "height": "1",
        "format": "<h1 class=\"vessel-title\">MLT</h1>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 300,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "726f2833.6fd958",
        "type": "ui_template",
        "z": "5a18ecba.25f6d4",
        "group": "58848435.b40dac",
        "name": "BK Title",
        "order": 1,
        "width": "4",
        "height": "1",
        "format": "<h1 class=\"vessel-title\">BK</h1>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 280,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "207a28c4.e3e498",
        "type": "function",
        "z": "474c912b.2cb9",
        "name": "Map to ui list",
        "func": "var checklist = msg.payload.map(function(card){\n   return {\n       \"title\": card.name,\n       \"isChecked\": card.closed\n   }; \n});\nreturn {payload: checklist};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5d5c51fc.6d68a",
        "type": "link in",
        "z": "474c912b.2cb9",
        "name": "Heatbeat ticker 5s",
        "links": [
            "261a2775.361898",
            "82be8459.c3e358"
        ],
        "x": 170,
        "y": 120,
        "wires": [
            []
        ],
        "l": true
    },
    {
        "id": "8518695c.afea28",
        "type": "ui_template",
        "z": "474c912b.2cb9",
        "group": "87b9c423.b256e8",
        "name": "Checklist title",
        "order": 1,
        "width": "6",
        "height": "1",
        "format": "<h1 class=\"vessel-title\">Checklist</h1>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "352afbec.d94f34",
        "type": "rpi-gpio out",
        "z": "858aa20d.74d93",
        "g": "f2c499c6.7e13e8",
        "name": "HL Pump",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "a11b0e69.8dac6",
        "type": "ui_template",
        "z": "858aa20d.74d93",
        "group": "ee877576.e7497",
        "name": "Warning icon",
        "order": 1,
        "width": "3",
        "height": "3",
        "format": "<span ng-if=\"msg.payload && msg.payload.length\" style=\"margin: 10px auto;\">\n    <i class=\"fa fa-exclamation-triangle\" style=\"font-size: 120px; color: gold;\" aria-hidden=\"true\"></i>        \n</span>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 220,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ea16abf.d13d458",
        "type": "ui_template",
        "z": "8dd89e26.6d141",
        "group": "b51f8f14.e5b5",
        "name": "Timer Title",
        "order": 1,
        "width": "8",
        "height": "1",
        "format": "<h1 class=\"vessel-title\">Timer</h1>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 270,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3b949333.c7198c",
        "type": "ui_template",
        "z": "8dd89e26.6d141",
        "group": "b51f8f14.e5b5",
        "name": "Timer countdown",
        "order": 4,
        "width": "5",
        "height": "3",
        "format": "<div style=\"text-align: center;\">\n    <span style=\"font-size: 80px;\" ng-bind-html=\"msg.payload\">20:00</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "959ccf41.bcbbe",
        "type": "ui_button",
        "z": "8dd89e26.6d141",
        "name": "",
        "group": "b51f8f14.e5b5",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "+5m",
        "tooltip": "",
        "color": "{{colour}}",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "72f6190f.f90b18",
        "type": "ui_button",
        "z": "8dd89e26.6d141",
        "name": "",
        "group": "b51f8f14.e5b5",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "+10m",
        "tooltip": "",
        "color": "{{colour}}",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "45704aca.4bf344",
        "type": "ui_button",
        "z": "8dd89e26.6d141",
        "name": "",
        "group": "b51f8f14.e5b5",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "{{colour}}",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5631269f.5e5bc8",
        "type": "ui_button",
        "z": "8dd89e26.6d141",
        "name": "",
        "group": "b51f8f14.e5b5",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Start/Pause",
        "tooltip": "",
        "color": "{{colour}}",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6ad9c074.88e63",
        "type": "ui_template",
        "z": "858aa20d.74d93",
        "group": "ee877576.e7497",
        "name": "Warning messages",
        "order": 3,
        "width": "6",
        "height": "3",
        "format": "<div style=\"width:200px;\">\n    <ul>\n        <li ng-repeat=\"warning in msg.payload\">\n            {{warning.text}}\n        </li>\n    </ul>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 410,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6eebc0ed.dca6a",
        "type": "inject",
        "z": "858aa20d.74d93",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"text\":\"THe pumps not on\"}]",
        "payloadType": "json",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "a11b0e69.8dac6",
                "6ad9c074.88e63"
            ]
        ]
    },
    {
        "id": "b62a266c.9438d8",
        "type": "inject",
        "z": "e61b1f1a.55954",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2003ace1.457794",
        "type": "function",
        "z": "e61b1f1a.55954",
        "name": "map cards",
        "func": "var checklist = msg.payload.map(function(card){\n    // figure out if this card is checked off\n    var isChecked = false;\n    if(card.customFieldItems && card.customFieldItems.length) {\n        card.customFieldItems.forEach(function(field){\n            if(field.idCustomField == \"6003c00314add7311db885d5\") {\n                if(field.value && field.value.checked) {\n                    isChecked = (field.value.checked===\"true\");\n                }\n            }\n        });\n    }\n    \n   return {\n       \"id\":card.id,\n       \"title\": card.name,\n       \"isChecked\": isChecked\n   }; \n});\nreturn {payload: checklist};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 440,
        "wires": [
            [
                "9a73dc19.19c73"
            ]
        ]
    },
    {
        "id": "9a73dc19.19c73",
        "type": "ui_template",
        "z": "e61b1f1a.55954",
        "group": "87b9c423.b256e8",
        "name": "",
        "order": 3,
        "width": "6",
        "height": "1",
        "format": "<ul>\n    <li ng-repeat=\"card in msg.payload track by $index\" style=\"position: relative;\" ng-click=\"send({payload:!card.isChecked,action:'setChecked',card:card.id,orig:msg})\">\n        <i class=\"fa-li fa {{(card.isChecked && card.isChecked=='loading') ? 'fa-spinner fa-spin' : (card.isChecked) ? 'fa-check-square' : 'fa-square'}}\"></i>\n        {{card.title}}\n    </li>\n</ul> ",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 800,
        "y": 440,
        "wires": [
            [
                "5b83bf6e.c75e"
            ]
        ]
    },
    {
        "id": "150761b3.e3a14e",
        "type": "debug",
        "z": "e61b1f1a.55954",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 555,
        "y": 351,
        "wires": []
    },
    {
        "id": "8b882f91.8438c",
        "type": "inject",
        "z": "e61b1f1a.55954",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 225,
        "y": 331,
        "wires": [
            []
        ]
    },
    {
        "id": "7efa133.b9513ec",
        "type": "inject",
        "z": "e61b1f1a.55954",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5b83bf6e.c75e",
        "type": "function",
        "z": "e61b1f1a.55954",
        "name": "Handle loading state",
        "func": "var cardToChange = msg.card;\nvar checklist = msg.orig.payload.map(function(card){\n    if(card.id == cardToChange) {\n        card.isChecked=\"loading\"\n    }\n    return card;\n});\nreturn {payload: checklist};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 360,
        "wires": [
            [
                "9a73dc19.19c73"
            ]
        ]
    },
    {
        "id": "c4aa3607.04efb8",
        "type": "ui_template",
        "z": "e61b1f1a.55954",
        "group": "ee877576.e7497",
        "name": "ON / OFF",
        "order": 8,
        "width": "2",
        "height": "2",
        "format": "<div md-ink-ripple class=\"custom-switch-button\" ng-click=\"send(msg)\">\n    <div>\n        <span style=\"{{(msg.payload) ? '' : 'filter:brightness(83%);'}}\">\n            ON / OFF\n        </span>\n    </div>\n    <div>\n        <i class=\"fa  {{(msg.payload) ? 'fa-square' : 'fa-square-o'}} fa-2x fa-fw\" style=\"{{(msg.payload) ? 'color: #32ff32;' : ''}}\"></i>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 980,
        "y": 780,
        "wires": [
            [
                "56b6e0be.699a8"
            ]
        ]
    },
    {
        "id": "56b6e0be.699a8",
        "type": "function",
        "z": "e61b1f1a.55954",
        "name": "switch controller",
        "func": "var originalValue = msg.payload;\n\n// handle command to set value\nif(msg.topic && msg.topic==\"set\") {\n    msg = {payload: originalValue}\n    return msg;\n}\n\n// flip the value\nmsg = {payload: !originalValue}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 840,
        "wires": [
            [
                "c4aa3607.04efb8"
            ]
        ]
    },
    {
        "id": "71020fc6.cc1eb",
        "type": "ui_template",
        "z": "e61b1f1a.55954",
        "group": "ee877576.e7497",
        "name": "Button styles",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n.custom-switch-button {\n    display: flex;\n    flex-direction: column;\n    justify-content: center;\n    cursor: pointer;\n    width: 100%;\n    height: 100%;\n    align-items: center;\n    background-color: var(--nr-dashboard-widgetColor);\n    color: var(--nr-dashboard-widgetTextColor);\n    border-radius: 2px;\n    font-weight: 500;\n    font-size: 14px;\n    line-height: 36px;\n}\n.custom-switch-button:hover {\n    /*background-color: #0b8f95;  */\n    filter: brightness(120%);\n}\n.custom-switch-button:focus {\n    outline: none;\n    border: 0;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 710,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "55d1eae5.745ac4",
        "type": "function",
        "z": "e61b1f1a.55954",
        "name": "switch controller",
        "func": "var originalValue = msg.payload;\n\n// handle command to set value\nif(msg.topic && msg.topic==\"set\") {\n    msg = {payload: originalValue}\n    return msg;\n}\n\n// flip the value\nmsg = {payload: !originalValue}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 960,
        "wires": [
            [
                "e8233f8a.3aa0b"
            ]
        ]
    },
    {
        "id": "e8233f8a.3aa0b",
        "type": "ui_template",
        "z": "e61b1f1a.55954",
        "group": "ee877576.e7497",
        "name": "POWER",
        "order": 5,
        "width": "2",
        "height": "2",
        "format": "<div md-ink-ripple class=\"custom-switch-button\" ng-click=\"send(msg)\">\n    <div>\n        <span style=\"{{(msg.payload) ? '' : 'filter:brightness(83%);'}}\">\n            POWER\n        </span>\n    </div>\n    <div>\n        <i class=\"fa  {{(msg.payload) ? 'fa-square' : 'fa-square-o'}} fa-2x fa-fw\" style=\"{{(msg.payload) ? 'color: #32ff32;' : ''}}\"></i>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 980,
        "y": 900,
        "wires": [
            [
                "55d1eae5.745ac4"
            ]
        ]
    },
    {
        "id": "37e58af1.d4f7e6",
        "type": "function",
        "z": "e61b1f1a.55954",
        "name": "switch controller",
        "func": "var originalValue = msg.payload;\n\n// handle command to set value\nif(msg.topic && msg.topic==\"set\") {\n    msg = {payload: originalValue}\n    return msg;\n}\n\n// flip the value\nmsg = {payload: !originalValue}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 1080,
        "wires": [
            [
                "2dfec1e5.42381e",
                "24f14dd5.6f8462"
            ]
        ]
    },
    {
        "id": "2dfec1e5.42381e",
        "type": "ui_template",
        "z": "e61b1f1a.55954",
        "group": "ee877576.e7497",
        "name": "Enable power switch",
        "order": 2,
        "width": "2",
        "height": "2",
        "format": "<div md-ink-ripple class=\"custom-switch-button\" ng-click=\"send(msg)\">\n    <div>\n        <span style=\"{{(msg.payload) ? '' : 'filter:brightness(83%);'}}\">\n            {{(msg.payload) ? 'ENABLED' : 'ENABLE'}}\n        </span>\n    </div>\n        \n    <div>\n        <i class=\"fa  {{(msg.payload) ? 'fa-square' : 'fa-square-o'}} fa-2x fa-fw\" style=\"{{(msg.payload) ? 'color: #32ff32;' : ''}}\"></i>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1000,
        "y": 1020,
        "wires": [
            [
                "37e58af1.d4f7e6"
            ]
        ]
    },
    {
        "id": "23a1a30d.b4697c",
        "type": "link in",
        "z": "e61b1f1a.55954",
        "name": "Wort pump Input",
        "links": [
            "d7b6fa8f.fee968",
            "24dcaffb.008de",
            "7f424920.b5ab08",
            "bcb30f14.f438e",
            "105b86cd.57c329"
        ],
        "x": 835,
        "y": 840,
        "wires": [
            [
                "56b6e0be.699a8"
            ]
        ]
    },
    {
        "id": "8ab6a7b7.4d8eb8",
        "type": "link in",
        "z": "e61b1f1a.55954",
        "name": "Wort pump Input",
        "links": [
            "d7b6fa8f.fee968",
            "24dcaffb.008de",
            "7f424920.b5ab08",
            "bcb30f14.f438e",
            "105b86cd.57c329"
        ],
        "x": 835,
        "y": 960,
        "wires": [
            [
                "55d1eae5.745ac4"
            ]
        ]
    },
    {
        "id": "28312703.24bcf8",
        "type": "link in",
        "z": "e61b1f1a.55954",
        "name": "Wort pump Input",
        "links": [
            "d7b6fa8f.fee968",
            "24dcaffb.008de",
            "7f424920.b5ab08",
            "bcb30f14.f438e",
            "105b86cd.57c329"
        ],
        "x": 835,
        "y": 1080,
        "wires": [
            [
                "37e58af1.d4f7e6"
            ]
        ]
    },
    {
        "id": "cfc6c770.07c048",
        "type": "link out",
        "z": "e61b1f1a.55954",
        "name": "On/Off switch",
        "links": [],
        "x": 1135,
        "y": 840,
        "wires": []
    },
    {
        "id": "17dd73e.4d02f8c",
        "type": "link out",
        "z": "e61b1f1a.55954",
        "name": "Power switch",
        "links": [],
        "x": 1135,
        "y": 960,
        "wires": []
    },
    {
        "id": "24f14dd5.6f8462",
        "type": "link out",
        "z": "e61b1f1a.55954",
        "name": "Enable power switch",
        "links": [],
        "x": 1135,
        "y": 1080,
        "wires": []
    },
    {
        "id": "176e93c2.8d20ac",
        "type": "function",
        "z": "72bd38cd.b8a178",
        "name": "switch controller",
        "func": "var originalValue = msg.payload;\n\n// handle command to set value\nif(msg.topic && msg.topic==\"set\") {\n    msg = {payload: originalValue}\n    return msg;\n}\n\n// flip the value\nmsg = {payload: !originalValue}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 100,
        "wires": [
            [
                "8308f0e6.93fbf",
                "162ea1e2.2b8cce"
            ]
        ]
    },
    {
        "id": "8308f0e6.93fbf",
        "type": "ui_template",
        "z": "72bd38cd.b8a178",
        "group": "e3312206.7d39b",
        "name": "HLT Power enabled",
        "order": 2,
        "width": "2",
        "height": "2",
        "format": "<div md-ink-ripple class=\"custom-switch-button\" ng-click=\"send(msg)\">\n    <div>\n        <span style=\"{{(msg.payload) ? '' : 'filter:brightness(83%);'}}\">\n            {{(msg.payload) ? 'ENABLED' : 'ENABLE'}}\n        </span>\n    </div>\n        \n    <div>\n        <i class=\"fa  {{(msg.payload) ? 'fa-square' : 'fa-square-o'}} fa-2x fa-fw\" style=\"{{(msg.payload) ? 'color: #32ff32;' : ''}}\"></i>\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 570,
        "y": 60,
        "wires": [
            [
                "176e93c2.8d20ac"
            ]
        ]
    },
    {
        "id": "6586ffe4.5c26a",
        "type": "link in",
        "z": "72bd38cd.b8a178",
        "name": "HLT Power enabled input",
        "links": [
            "105b86cd.57c329",
            "bcb30f14.f438e",
            "fbe32cd9.51c8a8"
        ],
        "x": 415,
        "y": 100,
        "wires": [
            [
                "176e93c2.8d20ac"
            ]
        ]
    },
    {
        "id": "162ea1e2.2b8cce",
        "type": "link out",
        "z": "72bd38cd.b8a178",
        "name": "HLT Power enabled switch",
        "links": [
            "cd4ffefe.73f4d8"
        ],
        "x": 735,
        "y": 100,
        "wires": []
    },
    {
        "id": "bb08f09e.0ae9b",
        "type": "ui_template",
        "z": "37de3d6f.58f362",
        "group": "f3a21dc0.41ad4",
        "name": "MLT Temperature",
        "order": 3,
        "width": "5",
        "height": "3",
        "format": "<div style=\"text-align: center;\">\n    <span style=\"font-size: 80px;\" ng-bind-html=\"msg.payload\"></span>\n    <span style=\"font-size: 25px; vertical-align: top;\">°C</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "5044c4c3.851ddc",
        "type": "link in",
        "z": "37de3d6f.58f362",
        "name": "HLT Temerature",
        "links": [
            "2a5e316.9797cce"
        ],
        "x": 180,
        "y": 140,
        "wires": [
            [
                "bb08f09e.0ae9b"
            ]
        ],
        "l": true
    },
    {
        "id": "13480df3.98e9b2",
        "type": "function",
        "z": "fd1f2b7f.0d4d08",
        "name": "Get MLT Temp value",
        "func": "msg.payload = msg.payload.mlt\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 140,
        "wires": [
            [
                "3de3ae01.9a84b2"
            ]
        ]
    },
    {
        "id": "22cc66b9.6fa50a",
        "type": "function",
        "z": "fd1f2b7f.0d4d08",
        "name": "Get BK Temp value",
        "func": "msg.payload = msg.payload.bk\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1070,
        "y": 200,
        "wires": [
            [
                "d9f3db58.58ebf"
            ]
        ]
    },
    {
        "id": "2a5e316.9797cce",
        "type": "link out",
        "z": "fd1f2b7f.0d4d08",
        "name": "MLT Temperature",
        "links": [
            "5044c4c3.851ddc"
        ],
        "x": 2050,
        "y": 140,
        "wires": [],
        "l": true
    },
    {
        "id": "46ee54de.b721fc",
        "type": "link out",
        "z": "fd1f2b7f.0d4d08",
        "name": "BK Temperature",
        "links": [
            "db560479.978cc8",
            "1342b373.8faa7d"
        ],
        "x": 2040,
        "y": 200,
        "wires": [],
        "l": true
    },
    {
        "id": "cb75c498.9ce358",
        "type": "ui_template",
        "z": "b209822d.9e674",
        "group": "ee877576.e7497",
        "name": "Global styles for dashboard",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<style>\n@media only screen and (min-width: 1800px) {\n    .masonry-container {\n        margin-top: 205px;\n        transform: scale(1.7); \n    }\n    \n}\nh1.vessel-title {\n    font-size: 2.9em;\n    margin-top: -10px;\n    margin-bottom: -10px;\n}\n    \n.custom-switch-button {\n    overflow: hidden;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 200,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "93f5246c.f907b8",
        "type": "inject",
        "z": "b209822d.9e674",
        "g": "6ec6cc41.7154c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "766a5f5.a3001a"
            ]
        ]
    },
    {
        "id": "766a5f5.a3001a",
        "type": "link out",
        "z": "b209822d.9e674",
        "g": "6ec6cc41.7154c4",
        "name": "Heatbeat ticker 1s",
        "links": [
            "d10d7337.68526",
            "a566f02f.63e1c",
            "e26a1504.ebf608",
            "ddb28124.54739",
            "fd468832.b66a78"
        ],
        "x": 430,
        "y": 460,
        "wires": [],
        "l": true
    },
    {
        "id": "a97b267c.286028",
        "type": "inject",
        "z": "b209822d.9e674",
        "g": "6ec6cc41.7154c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "82be8459.c3e358"
            ]
        ]
    },
    {
        "id": "82be8459.c3e358",
        "type": "link out",
        "z": "b209822d.9e674",
        "g": "6ec6cc41.7154c4",
        "name": "Heatbeat ticker 5s",
        "links": [
            "5d5c51fc.6d68a"
        ],
        "x": 430,
        "y": 520,
        "wires": [],
        "l": true
    },
    {
        "id": "e92dd698.665628",
        "type": "ui_template",
        "z": "5a18ecba.25f6d4",
        "group": "58848435.b40dac",
        "name": "BK Temperature",
        "order": 3,
        "width": "5",
        "height": "3",
        "format": "<div style=\"text-align: center;\">\n    <span style=\"font-size: 80px;\" ng-bind-html=\"msg.payload\"></span>\n    <span style=\"font-size: 25px; vertical-align: top;\">°C</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 420,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6d516a24.d30a24",
        "type": "ui_level",
        "z": "5a18ecba.25f6d4",
        "group": "58848435.b40dac",
        "order": 4,
        "width": "1",
        "height": "3",
        "name": "BK Element power level",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "8abe6ce3.dcecf",
        "type": "link in",
        "z": "5a18ecba.25f6d4",
        "name": "BK Element output power %",
        "links": [
            "18a70660.3494d2"
        ],
        "x": 615,
        "y": 180,
        "wires": [
            [
                "6d516a24.d30a24"
            ]
        ]
    },
    {
        "id": "db560479.978cc8",
        "type": "link in",
        "z": "5a18ecba.25f6d4",
        "name": "BK Temerature",
        "links": [
            "46ee54de.b721fc"
        ],
        "x": 180,
        "y": 180,
        "wires": [
            [
                "e92dd698.665628"
            ]
        ],
        "l": true
    },
    {
        "id": "e00e72fc.7e4f3",
        "type": "function",
        "z": "5a18ecba.25f6d4",
        "name": "switch controller",
        "func": "var originalValue = msg.payload;\n\n// handle command to set value\nif(msg.topic && msg.topic==\"set\") {\n    msg = {payload: originalValue}\n    return msg;\n}\n\n// flip the value\nmsg = {payload: !originalValue}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 120,
        "wires": [
            [
                "3205723b.dabfde",
                "52db710b.f6c64"
            ]
        ]
    },
    {
        "id": "3205723b.dabfde",
        "type": "ui_template",
        "z": "5a18ecba.25f6d4",
        "group": "58848435.b40dac",
        "name": "BK Power enabled",
        "order": 2,
        "width": "2",
        "height": "2",
        "format": "<div md-ink-ripple class=\"custom-switch-button\" ng-click=\"send(msg)\">\n    <div>\n        <span style=\"{{(msg.payload) ? '' : 'filter:brightness(83%);'}}\">\n            {{(msg.payload) ? 'ENABLED' : 'ENABLE'}}\n        </span>\n    </div>\n        \n    <div>\n        <i class=\"fa  {{(msg.payload) ? 'fa-square' : 'fa-square-o'}} fa-2x fa-fw\" style=\"{{(msg.payload) ? 'color: #32ff32;' : ''}}\"></i>\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "e00e72fc.7e4f3"
            ]
        ]
    },
    {
        "id": "e57ab86e.fe2888",
        "type": "link in",
        "z": "5a18ecba.25f6d4",
        "name": "BK Power enabled input",
        "links": [
            "24dcaffb.008de",
            "7f424920.b5ab08",
            "bcb30f14.f438e",
            "105b86cd.57c329"
        ],
        "x": 395,
        "y": 120,
        "wires": [
            [
                "e00e72fc.7e4f3"
            ]
        ]
    },
    {
        "id": "52db710b.f6c64",
        "type": "link out",
        "z": "5a18ecba.25f6d4",
        "name": "BK Power enabled switch",
        "links": [
            "9fcd9170.258988"
        ],
        "x": 715,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba1a96a.a480468",
        "type": "change",
        "z": "b209822d.9e674",
        "g": "e7769d56.bbbbb",
        "name": "Set to off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 340,
        "wires": [
            [
                "bcb30f14.f438e"
            ]
        ]
    },
    {
        "id": "bcb30f14.f438e",
        "type": "link out",
        "z": "b209822d.9e674",
        "g": "e7769d56.bbbbb",
        "name": "Button initialisation",
        "links": [
            "8ab6a7b7.4d8eb8",
            "ab13d96d.061928",
            "23a1a30d.b4697c",
            "727b0eeb.782c3",
            "28312703.24bcf8",
            "6586ffe4.5c26a",
            "e57ab86e.fe2888",
            "b9e12ea0.45b98",
            "ac9038ad.f15a48",
            "f9b87765.90a478",
            "7be9f663.8e1c8"
        ],
        "x": 355,
        "y": 340,
        "wires": []
    },
    {
        "id": "1824b7d6.a040d8",
        "type": "inject",
        "z": "b209822d.9e674",
        "g": "55fc7d02.76f0a4",
        "name": "Trigger Once At Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 700,
        "wires": [
            [
                "a8aeafa1.3a522"
            ]
        ]
    },
    {
        "id": "abbae2aa.9a409",
        "type": "function",
        "z": "b209822d.9e674",
        "g": "55fc7d02.76f0a4",
        "name": "Check if this is the first bootup",
        "func": "if(flow.get(\"initialised\") === undefined) {\n\n    // store that this has been initialised\n    flow.set(\"initialised\", true);\n    \n    return msg;\n}\n// return null if we have alreay initialised\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "a8aeafa1.3a522",
        "type": "link out",
        "z": "b209822d.9e674",
        "g": "55fc7d02.76f0a4",
        "name": "Inital bootup",
        "links": [
            "dd1f70b6.6080e",
            "c7fb6487.dee108",
            "48bdeac7.e6d764",
            "e23ea888.37bf78"
        ],
        "x": 695,
        "y": 700,
        "wires": []
    },
    {
        "id": "dd1f70b6.6080e",
        "type": "link in",
        "z": "b209822d.9e674",
        "g": "a5478298.6399d",
        "name": "Initial bootup",
        "links": [
            "a8aeafa1.3a522"
        ],
        "x": 170,
        "y": 220,
        "wires": [
            [
                "efbf535f.199948"
            ]
        ],
        "l": true
    },
    {
        "id": "c7fb6487.dee108",
        "type": "link in",
        "z": "b209822d.9e674",
        "g": "e7769d56.bbbbb",
        "name": "Initialise power button / switches states to off",
        "links": [
            "a8aeafa1.3a522"
        ],
        "x": 115,
        "y": 340,
        "wires": [
            [
                "ba1a96a.a480468"
            ]
        ]
    },
    {
        "id": "48bdeac7.e6d764",
        "type": "link in",
        "z": "b209822d.9e674",
        "g": "1fe8870c.af7949",
        "name": "Initialise HDMI display",
        "links": [
            "a8aeafa1.3a522"
        ],
        "x": 115,
        "y": 100,
        "wires": [
            [
                "2f984eaf.bf7712"
            ]
        ]
    },
    {
        "id": "a36494f8.8a1388",
        "type": "ui_template",
        "z": "858aa20d.74d93",
        "g": "f2c499c6.7e13e8",
        "group": "f3a21dc0.41ad4",
        "name": "HL PUMP",
        "order": 4,
        "width": "3",
        "height": "2",
        "format": "<div md-ink-ripple class=\"custom-switch-button\" ng-click=\"send(msg);\">\n    <div>\n        <span style=\"\">HL PUMP</span>\n    </div>\n    <div>\n        <i class=\"fa fa-cog {{(msg.payload) ? 'fa-spin' : ''}} fa-4x fa-fw\" style=\"{{(msg.payload) ? '' : 'filter:brightness(83%);'}}\"></i>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "83cee9c2.159be8"
            ]
        ]
    },
    {
        "id": "83cee9c2.159be8",
        "type": "function",
        "z": "858aa20d.74d93",
        "g": "f2c499c6.7e13e8",
        "name": "switch controller",
        "func": "var originalValue = msg.payload;\n\n// handle command to set value\nif(msg.topic && msg.topic==\"set\") {\n    msg = {payload: originalValue}\n    return msg;\n}\n\n// flip the value\nmsg = {payload: !originalValue}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "a36494f8.8a1388",
                "352afbec.d94f34"
            ]
        ]
    },
    {
        "id": "28a66a10.ef6846",
        "type": "ui_template",
        "z": "858aa20d.74d93",
        "g": "f2c499c6.7e13e8",
        "group": "f3a21dc0.41ad4",
        "name": "WORT PUMP",
        "order": 5,
        "width": "3",
        "height": "2",
        "format": "<div md-ink-ripple class=\"custom-switch-button\" ng-click=\"send(msg);\">\n    <div>\n        <span style=\"\">WORT PUMP</span>\n    </div>\n    <div>\n        <i class=\"fa fa-cog {{(msg.payload) ? 'fa-spin' : ''}} fa-4x fa-fw\" style=\"{{(msg.payload) ? '' : 'filter:brightness(83%);'}}\"></i>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "deb8f2eb.c1901"
            ]
        ]
    },
    {
        "id": "deb8f2eb.c1901",
        "type": "function",
        "z": "858aa20d.74d93",
        "g": "f2c499c6.7e13e8",
        "name": "switch controller",
        "func": "var originalValue = msg.payload;\n\n// handle command to set value\nif(msg.topic && msg.topic==\"set\") {\n    msg = {payload: originalValue}\n    return msg;\n}\n\n// flip the value\nmsg = {payload: !originalValue}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "28a66a10.ef6846",
                "3172ef7b.85c0f"
            ]
        ]
    },
    {
        "id": "b9e12ea0.45b98",
        "type": "link in",
        "z": "858aa20d.74d93",
        "g": "f2c499c6.7e13e8",
        "name": "Wort pump Input",
        "links": [
            "105b86cd.57c329",
            "bcb30f14.f438e",
            "fbe32cd9.51c8a8"
        ],
        "x": 155,
        "y": 420,
        "wires": [
            [
                "deb8f2eb.c1901"
            ]
        ]
    },
    {
        "id": "ac9038ad.f15a48",
        "type": "link in",
        "z": "858aa20d.74d93",
        "g": "f2c499c6.7e13e8",
        "name": "HL pump Input",
        "links": [
            "105b86cd.57c329",
            "bcb30f14.f438e",
            "fbe32cd9.51c8a8"
        ],
        "x": 155,
        "y": 320,
        "wires": [
            [
                "83cee9c2.159be8"
            ]
        ]
    },
    {
        "id": "b06e1c5.327a1e",
        "type": "ui_button",
        "z": "858aa20d.74d93",
        "name": "",
        "group": "f3a21dc0.41ad4",
        "order": 6,
        "width": "6",
        "height": "2",
        "passthru": true,
        "label": "Emergency STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "#b32727",
        "icon": "fa-exclamation-circle",
        "payload": "false",
        "payloadType": "bool",
        "topic": "set",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "105b86cd.57c329"
            ]
        ]
    },
    {
        "id": "105b86cd.57c329",
        "type": "link out",
        "z": "858aa20d.74d93",
        "name": "Emergency stop",
        "links": [
            "23a1a30d.b4697c",
            "28312703.24bcf8",
            "6586ffe4.5c26a",
            "727b0eeb.782c3",
            "8ab6a7b7.4d8eb8",
            "ab13d96d.061928",
            "e57ab86e.fe2888",
            "b9e12ea0.45b98",
            "ac9038ad.f15a48",
            "f9b87765.90a478",
            "7be9f663.8e1c8"
        ],
        "x": 375,
        "y": 500,
        "wires": []
    },
    {
        "id": "e0cb2a8c.4402a8",
        "type": "PID",
        "z": "a0771295.bec48",
        "name": "",
        "setpoint": "50",
        "pb": "0",
        "ti": "24",
        "td": "6",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": "1",
        "disabled_op": "0",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "5ec4239b.34e174",
                "e94f888a.130a88"
            ]
        ]
    },
    {
        "id": "e4dea1a5.4f1ed",
        "type": "PID",
        "z": "4c2748b.984d3b8",
        "g": "91669a1f.42243",
        "name": "HLT PID",
        "setpoint": "10",
        "pb": "0",
        "ti": 9999,
        "td": 0,
        "integral_default": 0.5,
        "smooth_factor": 3,
        "max_interval": 600,
        "enable": 1,
        "disabled_op": 0,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "1997fac1.880f65"
            ]
        ]
    },
    {
        "id": "afeaa1b7.bbca2",
        "type": "ui_slider",
        "z": "5a18ecba.25f6d4",
        "name": "BK Power output Slider",
        "label": "",
        "tooltip": "",
        "group": "58848435.b40dac",
        "order": 7,
        "width": "4",
        "height": "2",
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "60",
        "max": "100",
        "step": "5",
        "x": 510,
        "y": 560,
        "wires": [
            [
                "845fdb5.5e95d28"
            ]
        ]
    },
    {
        "id": "845fdb5.5e95d28",
        "type": "link out",
        "z": "5a18ecba.25f6d4",
        "name": "BK Power Slider output",
        "links": [
            "3268cb38.a5f80c"
        ],
        "x": 770,
        "y": 560,
        "wires": [],
        "l": true
    },
    {
        "id": "7b465fdb.b8a98",
        "type": "link in",
        "z": "5a18ecba.25f6d4",
        "name": "BK manual power slider input",
        "links": [
            "43b8389.8fc5748"
        ],
        "x": 260,
        "y": 560,
        "wires": [
            [
                "afeaa1b7.bbca2"
            ]
        ],
        "l": true
    },
    {
        "id": "85af9a78.fa792",
        "type": "function",
        "z": "5a18ecba.25f6d4",
        "name": "switch controller",
        "func": "var originalValue = msg.payload;\n\n// handle command to set value\nif(msg.topic && msg.topic==\"set\") {\n    msg = {payload: originalValue}\n    return msg;\n}\n\n// flip the value\nmsg = {payload: !originalValue}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "ddae5871.a00548",
                "444afa27.c51efc",
                "6f605276.d9c18c"
            ]
        ]
    },
    {
        "id": "ddae5871.a00548",
        "type": "ui_template",
        "z": "5a18ecba.25f6d4",
        "group": "58848435.b40dac",
        "name": "BK 95Deg hold button",
        "order": 5,
        "width": "6",
        "height": "2",
        "format": "<div md-ink-ripple class=\"custom-switch-button\" ng-click=\"send(msg)\">\n    <div>\n        <span style=\"{{(msg.payload) ? '' : 'filter:brightness(83%);'}}\">\n            Hold at 95°C\n        </span>\n    </div>\n        \n    <div>\n        <i class=\"fa  {{(msg.payload) ? 'fa-square' : 'fa-square-o'}} fa-2x fa-fw\" style=\"{{(msg.payload) ? 'color: #32ff32;' : ''}}\"></i>\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 420,
        "y": 260,
        "wires": [
            [
                "85af9a78.fa792"
            ]
        ]
    },
    {
        "id": "f9b87765.90a478",
        "type": "link in",
        "z": "5a18ecba.25f6d4",
        "name": "BK 95Deg hold input",
        "links": [
            "105b86cd.57c329",
            "bcb30f14.f438e",
            "a9085db8.cd9918"
        ],
        "x": 255,
        "y": 320,
        "wires": [
            [
                "85af9a78.fa792"
            ]
        ]
    },
    {
        "id": "444afa27.c51efc",
        "type": "link out",
        "z": "5a18ecba.25f6d4",
        "name": "BK 95Deg button",
        "links": [
            "bf530c2b.23c988"
        ],
        "x": 615,
        "y": 280,
        "wires": []
    },
    {
        "id": "56aae3df.9b6a3c",
        "type": "function",
        "z": "5a18ecba.25f6d4",
        "name": "switch controller",
        "func": "var originalValue = msg.payload;\n\n// handle command to set value\nif(msg.topic && msg.topic==\"set\") {\n    msg = {payload: originalValue}\n    return msg;\n}\n\n// flip the value\nmsg = {payload: !originalValue}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "2135e055.95f7d8",
                "6c9c3b3.5df7244",
                "5b628b3c.c2747c"
            ]
        ]
    },
    {
        "id": "2135e055.95f7d8",
        "type": "ui_template",
        "z": "5a18ecba.25f6d4",
        "group": "58848435.b40dac",
        "name": "BK Manual power output button",
        "order": 6,
        "width": "2",
        "height": "2",
        "format": "<div md-ink-ripple class=\"custom-switch-button\" ng-click=\"send(msg)\">\n    <div>\n        <span style=\"{{(msg.payload) ? '' : 'filter:brightness(83%);'}}\">\n            Manual\n        </span>\n    </div>\n        \n    <div>\n        <i class=\"fa  {{(msg.payload) ? 'fa-square' : 'fa-square-o'}} fa-2x fa-fw\" style=\"{{(msg.payload) ? 'color: #32ff32;' : ''}}\"></i>\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "56aae3df.9b6a3c"
            ]
        ]
    },
    {
        "id": "7be9f663.8e1c8",
        "type": "link in",
        "z": "5a18ecba.25f6d4",
        "name": "BK manual power switch Input",
        "links": [
            "105b86cd.57c329",
            "2207075f.8da55",
            "bcb30f14.f438e"
        ],
        "x": 235,
        "y": 460,
        "wires": [
            [
                "56aae3df.9b6a3c"
            ]
        ]
    },
    {
        "id": "6c9c3b3.5df7244",
        "type": "link out",
        "z": "5a18ecba.25f6d4",
        "name": "BK manual power switch output",
        "links": [
            "e3a23318.981f68"
        ],
        "x": 595,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f605276.d9c18c",
        "type": "switch",
        "z": "5a18ecba.25f6d4",
        "name": "If on",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 320,
        "wires": [
            [
                "f8cd0e78.ad6a18"
            ]
        ]
    },
    {
        "id": "f8cd0e78.ad6a18",
        "type": "change",
        "z": "5a18ecba.25f6d4",
        "name": "Turn off manual power button",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 320,
        "wires": [
            [
                "2207075f.8da55"
            ]
        ]
    },
    {
        "id": "2207075f.8da55",
        "type": "link out",
        "z": "5a18ecba.25f6d4",
        "name": "Turn off BK manual power button",
        "links": [
            "7be9f663.8e1c8"
        ],
        "x": 1015,
        "y": 320,
        "wires": []
    },
    {
        "id": "5b628b3c.c2747c",
        "type": "switch",
        "z": "5a18ecba.25f6d4",
        "name": "On of Off?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "3a446838.006938",
                "b155af3f.f8a0a8"
            ],
            [
                "d4a97bc3.1dd98"
            ]
        ]
    },
    {
        "id": "3a446838.006938",
        "type": "change",
        "z": "5a18ecba.25f6d4",
        "name": "Turn off 95Deg button",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 420,
        "wires": [
            [
                "a9085db8.cd9918"
            ]
        ]
    },
    {
        "id": "a9085db8.cd9918",
        "type": "link out",
        "z": "5a18ecba.25f6d4",
        "name": "Turn off BK 95Deg button",
        "links": [
            "f9b87765.90a478"
        ],
        "x": 1075,
        "y": 420,
        "wires": []
    },
    {
        "id": "b155af3f.f8a0a8",
        "type": "change",
        "z": "5a18ecba.25f6d4",
        "name": "Enable slider",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 460,
        "wires": [
            [
                "43b8389.8fc5748"
            ]
        ]
    },
    {
        "id": "d4a97bc3.1dd98",
        "type": "change",
        "z": "5a18ecba.25f6d4",
        "name": "Disable slider",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 500,
        "wires": [
            [
                "43b8389.8fc5748"
            ]
        ]
    },
    {
        "id": "43b8389.8fc5748",
        "type": "link out",
        "z": "5a18ecba.25f6d4",
        "name": "BK power slider",
        "links": [
            "7b465fdb.b8a98"
        ],
        "x": 1035,
        "y": 480,
        "wires": []
    },
    {
        "id": "2397a45.037d65c",
        "type": "rpi-gpio out",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "BK Element out",
        "pin": "35",
        "set": false,
        "level": "0",
        "freq": "0.5",
        "out": "pwm",
        "x": 1320,
        "y": 540,
        "wires": []
    },
    {
        "id": "3bf642ce.0e5536",
        "type": "link in",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "BK Element Power %",
        "links": [
            "f5073530.a91078"
        ],
        "x": 240,
        "y": 540,
        "wires": [
            [
                "ac052a82.75a568"
            ]
        ],
        "l": true
    },
    {
        "id": "18a70660.3494d2",
        "type": "link out",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "BK Element output power %",
        "links": [
            "8abe6ce3.dcecf"
        ],
        "x": 1660,
        "y": 600,
        "wires": [],
        "l": true
    },
    {
        "id": "45f7b966.06ff2",
        "type": "change",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "Set BK Power Output",
        "rules": [
            {
                "t": "set",
                "p": "BKPowerOutput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "2397a45.037d65c"
            ]
        ]
    },
    {
        "id": "fd468832.b66a78",
        "type": "link in",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "Heatbeat ticker 1s",
        "links": [
            "d583a0c6.8c20b",
            "766a5f5.a3001a"
        ],
        "x": 770,
        "y": 620,
        "wires": [
            [
                "38d6ec9.c82e994"
            ]
        ],
        "l": true
    },
    {
        "id": "38d6ec9.c82e994",
        "type": "change",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "Get BK Power Output",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BKPowerOutput",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "347e81f7.d003be"
            ]
        ]
    },
    {
        "id": "f5073530.a91078",
        "type": "link out",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "BK Element Power %",
        "links": [
            "3bf642ce.0e5536"
        ],
        "x": 1140,
        "y": 680,
        "wires": [],
        "l": true
    },
    {
        "id": "a10dc7fe.540f68",
        "type": "range",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 640,
        "y": 600,
        "wires": [
            [
                "af7c007a.b43aa"
            ]
        ]
    },
    {
        "id": "1342b373.8faa7d",
        "type": "link in",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "BK Temerature",
        "links": [
            "46ee54de.b721fc"
        ],
        "x": 160,
        "y": 600,
        "wires": [
            [
                "11dafbc1.f9ac7c"
            ]
        ],
        "l": true
    },
    {
        "id": "3268cb38.a5f80c",
        "type": "link in",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "BK manual slider",
        "links": [
            "845fdb5.5e95d28"
        ],
        "x": 160,
        "y": 740,
        "wires": [
            [
                "a53f1e5b.1bafa8"
            ]
        ],
        "l": true
    },
    {
        "id": "a0adf295.bb46a8",
        "type": "inject",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "On refresh, Set target temp 95Deg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "setpoint",
        "payload": "95",
        "payloadType": "num",
        "x": 220,
        "y": 660,
        "wires": [
            [
                "11dafbc1.f9ac7c"
            ]
        ]
    },
    {
        "id": "11dafbc1.f9ac7c",
        "type": "PID",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "BK PID",
        "setpoint": "10",
        "pb": "0",
        "ti": 9999,
        "td": 0,
        "integral_default": 0.5,
        "smooth_factor": 3,
        "max_interval": 600,
        "enable": 1,
        "disabled_op": 0,
        "x": 480,
        "y": 600,
        "wires": [
            [
                "a10dc7fe.540f68"
            ]
        ]
    },
    {
        "id": "2eccd44d.bb6f04",
        "type": "inject",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "On refresh set to zero",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 580,
        "y": 680,
        "wires": [
            [
                "f5073530.a91078"
            ]
        ]
    },
    {
        "id": "af7c007a.b43aa",
        "type": "gate",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "PID control gate",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 900,
        "y": 600,
        "wires": [
            [
                "f5073530.a91078"
            ]
        ]
    },
    {
        "id": "a53f1e5b.1bafa8",
        "type": "gate",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "Manual control gate",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 920,
        "y": 740,
        "wires": [
            [
                "f5073530.a91078"
            ]
        ]
    },
    {
        "id": "e3a23318.981f68",
        "type": "link in",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "BK manual control enable",
        "links": [
            "6c9c3b3.5df7244"
        ],
        "x": 190,
        "y": 800,
        "wires": [
            [
                "49faea85.7cd08c"
            ]
        ],
        "l": true
    },
    {
        "id": "49faea85.7cd08c",
        "type": "switch",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "Is it manual control?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 800,
        "wires": [
            [
                "7e1cfe62.ae3c9"
            ],
            [
                "8cb296f4.3a9c88"
            ]
        ]
    },
    {
        "id": "7e1cfe62.ae3c9",
        "type": "change",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "Open the gate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 780,
        "wires": [
            [
                "a53f1e5b.1bafa8"
            ]
        ]
    },
    {
        "id": "8cb296f4.3a9c88",
        "type": "change",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "close the gate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "close",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 820,
        "wires": [
            [
                "a53f1e5b.1bafa8"
            ]
        ]
    },
    {
        "id": "bf530c2b.23c988",
        "type": "link in",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "BK PID control enable",
        "links": [
            "444afa27.c51efc"
        ],
        "x": 240,
        "y": 540,
        "wires": [
            [
                "d93179e9.e362d8"
            ]
        ],
        "l": true
    },
    {
        "id": "d93179e9.e362d8",
        "type": "switch",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "Is it manual control?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 540,
        "wires": [
            [
                "789a8afa.2996bc"
            ],
            [
                "de91c9e1.c6d4f"
            ]
        ]
    },
    {
        "id": "789a8afa.2996bc",
        "type": "change",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "Open the gate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 520,
        "wires": [
            [
                "af7c007a.b43aa"
            ]
        ]
    },
    {
        "id": "de91c9e1.c6d4f",
        "type": "change",
        "z": "4c2748b.984d3b8",
        "g": "57237429.cc77c4",
        "name": "close the gate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "close",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 560,
        "wires": [
            [
                "af7c007a.b43aa"
            ]
        ]
    },
    {
        "id": "dc4c2855.b1879",
        "type": "gate",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "HLT element enabled gate",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 800,
        "y": 200,
        "wires": [
            [
                "ee085d83.81d5c"
            ]
        ]
    },
    {
        "id": "cd4ffefe.73f4d8",
        "type": "link in",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "HLT element enable",
        "links": [
            "162ea1e2.2b8cce"
        ],
        "x": 170,
        "y": 140,
        "wires": [
            [
                "c30f3ed8.2aa3a8"
            ]
        ],
        "l": true
    },
    {
        "id": "c30f3ed8.2aa3a8",
        "type": "switch",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "Is it enabled?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "181a8f07.e1d921"
            ],
            [
                "e7b1d178.e841d"
            ]
        ]
    },
    {
        "id": "181a8f07.e1d921",
        "type": "change",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "Open the gate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "dc4c2855.b1879"
            ]
        ]
    },
    {
        "id": "e7b1d178.e841d",
        "type": "change",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "close the gate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "close",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 160,
        "wires": [
            [
                "dc4c2855.b1879",
                "8f338b83.cfdd18"
            ]
        ]
    },
    {
        "id": "9fcd9170.258988",
        "type": "link in",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "BK element enable",
        "links": [
            "52db710b.f6c64"
        ],
        "x": 230,
        "y": 480,
        "wires": [
            [
                "9e226085.cb8d1"
            ]
        ],
        "l": true
    },
    {
        "id": "9e226085.cb8d1",
        "type": "switch",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "Is it enabled?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 480,
        "wires": [
            [
                "3d31383b.1cde4"
            ],
            [
                "59be3a6f.ee779c"
            ]
        ]
    },
    {
        "id": "3d31383b.1cde4",
        "type": "change",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "Open the gate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 460,
        "wires": [
            [
                "ac052a82.75a568"
            ]
        ]
    },
    {
        "id": "59be3a6f.ee779c",
        "type": "change",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "close the gate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "close",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 500,
        "wires": [
            [
                "ac052a82.75a568",
                "220d97a3.29d778"
            ]
        ]
    },
    {
        "id": "ac052a82.75a568",
        "type": "gate",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "BK element enabled gate",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 830,
        "y": 540,
        "wires": [
            [
                "45f7b966.06ff2"
            ]
        ]
    },
    {
        "id": "3172ef7b.85c0f",
        "type": "rpi-gpio out",
        "z": "858aa20d.74d93",
        "g": "f2c499c6.7e13e8",
        "name": "Wort Pump",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "8f338b83.cfdd18",
        "type": "change",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "Turn off element",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 160,
        "wires": [
            [
                "ee085d83.81d5c"
            ]
        ]
    },
    {
        "id": "220d97a3.29d778",
        "type": "change",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "Turn off element",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 500,
        "wires": [
            [
                "45f7b966.06ff2"
            ]
        ]
    },
    {
        "id": "b41b22b1.fd8de",
        "type": "function",
        "z": "b6bdc7e8.c2bbe8",
        "g": "6217408c.d82dc8",
        "name": "convert false value to zero",
        "func": "if(msg.payload === false) {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1370,
        "y": 260,
        "wires": [
            [
                "8c0e6674.9c4a98"
            ]
        ]
    },
    {
        "id": "347e81f7.d003be",
        "type": "function",
        "z": "b6bdc7e8.c2bbe8",
        "g": "38735e36.113c8a",
        "name": "convert false value to zero",
        "func": "if(msg.payload === false) {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1380,
        "y": 600,
        "wires": [
            [
                "18a70660.3494d2"
            ]
        ]
    },
    {
        "id": "e23ea888.37bf78",
        "type": "link in",
        "z": "5a18ecba.25f6d4",
        "name": "",
        "links": [
            "a8aeafa1.3a522"
        ],
        "x": 175,
        "y": 520,
        "wires": [
            [
                "61aaf0e1.29ec7"
            ]
        ]
    },
    {
        "id": "61aaf0e1.29ec7",
        "type": "change",
        "z": "5a18ecba.25f6d4",
        "name": "default to 60%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "60",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "afeaa1b7.bbca2"
            ]
        ]
    },
    {
        "id": "32761e77.6051f2",
        "type": "inject",
        "z": "e61b1f1a.55954",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Add hops - 5min",
        "payloadType": "str",
        "x": 290,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3de3ae01.9a84b2",
        "type": "function",
        "z": "fd1f2b7f.0d4d08",
        "name": "Calibrate Sensor",
        "func": "msg.payload=msg.payload+2\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1290,
        "y": 140,
        "wires": [
            [
                "b82fe209.2ca49"
            ]
        ]
    },
    {
        "id": "3eb5719d.0216de",
        "type": "function",
        "z": "fd1f2b7f.0d4d08",
        "name": "Calibrate Sensor",
        "func": "msg.payload=msg.payload+2.5\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1290,
        "y": 80,
        "wires": [
            [
                "1c570dd9.2e1042"
            ]
        ]
    },
    {
        "id": "d9f3db58.58ebf",
        "type": "function",
        "z": "fd1f2b7f.0d4d08",
        "name": "Calibrate Sensor",
        "func": "msg.payload=msg.payload+3\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1290,
        "y": 200,
        "wires": [
            [
                "5c1a8d1b.618ea4"
            ]
        ]
    },
    {
        "id": "1c570dd9.2e1042",
        "type": "function",
        "z": "fd1f2b7f.0d4d08",
        "name": "Spike adjustment",
        "func": "var temp=msg.payload\n\n// discard the value if its too big or small\nif(temp>120 || temp<0){\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1490,
        "y": 80,
        "wires": [
            [
                "73ce6d8e.678a84"
            ]
        ]
    },
    {
        "id": "b82fe209.2ca49",
        "type": "function",
        "z": "fd1f2b7f.0d4d08",
        "name": "Spike adjustment",
        "func": "var temp=msg.payload\n\n// discard the value if its too big or small\nif(temp>120 || temp<0){\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1490,
        "y": 140,
        "wires": [
            [
                "11ddc2c.7798c3d"
            ]
        ]
    },
    {
        "id": "5c1a8d1b.618ea4",
        "type": "function",
        "z": "fd1f2b7f.0d4d08",
        "name": "Spike adjustment",
        "func": "var temp=msg.payload\n\n// discard the value if its too big or small\nif(temp>120 || temp<0){\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1490,
        "y": 200,
        "wires": [
            [
                "30736cd5.28e704"
            ]
        ]
    },
    {
        "id": "73ce6d8e.678a84",
        "type": "smooth",
        "z": "fd1f2b7f.0d4d08",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "5",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 1700,
        "y": 80,
        "wires": [
            [
                "420a55fd.8c4b14"
            ]
        ]
    },
    {
        "id": "11ddc2c.7798c3d",
        "type": "smooth",
        "z": "fd1f2b7f.0d4d08",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "20",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 1700,
        "y": 140,
        "wires": [
            [
                "2a5e316.9797cce"
            ]
        ]
    },
    {
        "id": "30736cd5.28e704",
        "type": "smooth",
        "z": "fd1f2b7f.0d4d08",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "5",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 1700,
        "y": 200,
        "wires": [
            [
                "46ee54de.b721fc"
            ]
        ]
    },
    {
        "id": "fbe32cd9.51c8a8",
        "type": "link out",
        "z": "c70403e1.fef6",
        "g": "d90db005.43c49",
        "name": "Warm up",
        "links": [
            "6586ffe4.5c26a",
            "ac9038ad.f15a48",
            "b9e12ea0.45b98"
        ],
        "x": 680,
        "y": 1540,
        "wires": [],
        "l": true
    },
    {
        "id": "363ac57b.fbf872",
        "type": "change",
        "z": "c70403e1.fef6",
        "g": "d90db005.43c49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1540,
        "wires": [
            [
                "fbe32cd9.51c8a8",
                "4cf7830a.68285c"
            ]
        ]
    },
    {
        "id": "4cf7830a.68285c",
        "type": "debug",
        "z": "c70403e1.fef6",
        "g": "d90db005.43c49",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1500,
        "wires": []
    },
    {
        "id": "1760c75d.604561",
        "type": "telegrambot-command",
        "z": "c70403e1.fef6",
        "name": "/temps",
        "bot": "a0af63cb.cfd18",
        "command": "\\/*temps",
        "commandType": "re",
        "commandCase": false,
        "x": 150,
        "y": 1760,
        "wires": [
            [
                "4aa9ecc2.3d12ac",
                "736adea6.36a26"
            ]
        ]
    },
    {
        "id": "4aa9ecc2.3d12ac",
        "type": "change",
        "z": "c70403e1.fef6",
        "name": "Get temperatures ",
        "rules": [
            {
                "t": "set",
                "p": "hlt_temp",
                "pt": "msg",
                "to": "hlt_temp",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1760,
        "wires": [
            [
                "88f585ec.5cd0b8",
                "736adea6.36a26"
            ]
        ]
    },
    {
        "id": "88f585ec.5cd0b8",
        "type": "template",
        "z": "c70403e1.fef6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The Hot Liqour Tank Temp is {{hlt_temp}} !",
        "output": "str",
        "x": 540,
        "y": 1760,
        "wires": [
            [
                "1cb2b83f.94c"
            ]
        ]
    },
    {
        "id": "1cb2b83f.94c",
        "type": "telegrambot-notify",
        "z": "c70403e1.fef6",
        "name": "Tell users the temperatures",
        "bot": "a0af63cb.cfd18",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 780,
        "y": 1760,
        "wires": []
    },
    {
        "id": "736adea6.36a26",
        "type": "debug",
        "z": "c70403e1.fef6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1860,
        "wires": []
    },
    {
        "id": "420a55fd.8c4b14",
        "type": "change",
        "z": "fd1f2b7f.0d4d08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hlt_temp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 80,
        "wires": [
            [
                "fb4d5c6f.c5572"
            ]
        ]
    },
    {
        "id": "ae81e16d.31639",
        "type": "link in",
        "z": "858aa20d.74d93",
        "name": "Emergency Stop",
        "links": [
            "3738d33c.cb5054"
        ],
        "x": 75,
        "y": 500,
        "wires": [
            [
                "b06e1c5.327a1e"
            ]
        ]
    }
]